<h2 class="mt-5">Europe</h2>
{% assign locations = site.locations | where: 'label', 'Germany' %}
<h3 id="germany">Germany</h3>
{% include locations/location-int-list.html %}
{% assign locations = site.locations | where: 'label', 'United Kingdom' %}
<h3 id="united-kingdom">United Kingdom</h3>
{% include locations/location-int-list.html %}

<h2 class="mt-5">USA</h2>

  {% assign locations = site.locations | where: 'label', 'Alabama' %}
  <h3 id="alabama">Alabama</h3>
  {% include locations/location-list.html %}

  {% assign locations = site.locations | where: 'label', 'Arizona' %}
  <h3 id="arizona">Arizona</h3>
  {% include locations/location-list.html %}

  {% assign locations = site.locations | where: 'label', 'California' %}
  <h3 id="california">California</h3>
  {% include locations/location-list.html %}

  {% assign locations = site.locations | where: 'label', 'Colorado' %}
  <h3 id="colorado">Colorado</h3>
  {% include locations/location-list.html %}

  {% assign locations = site.locations | where: 'label', 'Florida' %}
  <h3 id="florida">Florida</h3>
  {% include locations/location-list.html %}

  {% assign locations = site.locations | where: 'label', 'Idaho' %}
  <h3 id="idaho">Idaho</h3>
  {% include locations/location-list.html %}

  {% assign locations = site.locations | where: 'label', 'Indiana' %}
  <h3 id="indiana">Indiana</h3>
  {% include locations/location-list.html %}

  {% assign locations = site.locations | where: 'label', 'Louisiana' %}
  <h3 id="louisiana">Louisiana</h3>
  {% include locations/location-list.html %}

  {% assign locations = site.locations | where: 'label', 'Mississippi' %}
  <h3 id="mississippi">Mississippi</h3>
  {% include locations/location-list.html %}

  {% assign locations = site.locations | where: 'label', 'New Mexico' %}
  <h3 id="new-mexico">New Mexico</h3>
  {% include locations/location-list.html %}

  {% assign locations = site.locations | where: 'label', 'New York' %}
  <h3 id="new-york">New York</h3>
  {% include locations/location-list.html %}

  {% assign locations = site.locations | where: 'label', 'Ohio' %}
  <h3 id="ohio">Ohio</h3>
  {% include locations/location-list.html %}

  {% assign locations = site.locations | where: 'label', 'Oregon' %}
  <h3 id="oregon">Oregon</h3>
  {% include locations/location-list.html %}

  {% assign locations = site.locations | where: 'label', 'Rhode Island' %}
  <h3 id="rhode-island">Rhode Island</h3>
  {% include locations/location-list.html %}

  {% assign locations = site.locations | where: 'label', 'South Carolina' %}
  <h3 id="south-carolina">South Carolina</h3>
  {% include locations/location-list.html %}

  {% assign locations = site.locations | where: 'label', 'Texas' %}
  <h3 id="texas">Texas</h3>
  {% include locations/location-list.html %}

  {% assign locations = site.locations | where: 'label', 'Utah' %}
  <h3 id="utah">Utah</h3>
  {% include locations/location-list.html %}

  {% assign locations = site.locations | where: 'label', 'Washington' %}
  <h3 id="washington">Washington</h3>
  {% include locations/location-list.html %}