---
layout: location
title: Velocity News
meta:
---
<!-- This is line below is for for Reachlocal advertising tracking, removal will not screw up anything-->
<script type="text/javascript" src="//cdn.rlets.com/capture_configs/f8e/6d1/018/3c9473391dde381558ed8f4.js" async="async"></script>
<!-- This is line below is for for SD union Trib advertising tracking, removal will not screw up anything-->
<img height="1" width="1" style="border-style:none;" alt="" src="https://insight.adsrvr.org/track/pxl/?adv=z1awv2u&ct=0:dp7il26&fmt=3"/> 
{% include locations/location-logic.html %}
{% include locations/location-news.html %}