---
layout: location
title: Panorama City Home
meta:
location_team:
  - name: Robert Jenders
    role: Principal Investigator
    image: /uploads/dr-robert-a-jenders.jpg
    bio_html: >-
      <p>Robert A Jenders, MD, MS, FACP, FACMI is Professor of Medicine and
      Co-Director of the Center for Biomedical Informatics at Charles Drew
      University and is Health Sciences Clinical Professor of Medicine and
      Associate Director of the Clinical and Translational Science Institute at
      the University of California, Los Angeles. A native of Milwaukee,
      Wisconsin, he received his undergraduate degree in computer science from
      Marquette University; completed his MD degree and did his medical
      residency at the University of Wisconsin-Madison; earned a master&rsquo;s
      degree in computer science at Northeastern University; and completed a
      postdoctoral fellowship in biomedical informatics at Harvard University
      and the Massachusetts General Hospital. He is board-certified in internal
      medicine and clinical informatics, and he teaches in the residency
      training program and provides primary care at Harbor-UCLA Medical
      Center.</p><p>Funded by the National Institutes of Health (NIH), his
      research focuses on clinical decision support and other aspects of the
      application of information technology in clinical care. He has published
      numerous scientific papers and book chapters as well as lectured
      internationally on this topic. He serves on scientific study section
      panels for NIH and the US Agency for Healthcare Research and Quality
      (AHRQ) as well as reviews scientific papers for leading journals in
      biomedical informatics. He leads international efforts to develop health
      information technology standards as a committee co-chair in Health Level
      Seven International (HL7). His work at National Research Institute focuses
      on studies of treatment for diabetes and hypertension. Apart from his
      professional activities, he is an avid private pilot.</p>
_assets:
  - image: /uploads/locations/austin/cdc-UC9_itYaafM-unsplash.jpg
  - image: /uploads/locations/austin/Mask-Group-68.jpg
  - image: /uploads/locations/austin/Mask-Group-65.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-4.jpg
  - image: /uploads/locations/austin/Shot-About.jpg
---

{% include locations/location-logic.html %}
{% include locations/hero-location.html %}
<section>
  <div class="container">
    <div class="row overlap-top">
      <div class="col-lg-8 mx-lg-auto">
        <div class="shadow p-5 bg-white rounded animate fade-up">
          <div class="row align-items-center">
            <div class="col-6 mx-auto col-lg-4">
              <div class="bg-image aspect-1x1 rounded-circle mb-3 mb-lg-0" style="background-image: url({{ location.featured_image }})"></div>
            </div>
            <div class="col-lg-8">
              <h4 class="font-weight-bold mb-0">{{ location.title }}</h4>
              <h4 class="font-weight-bold">{{ location.label }}</h4>
              <p>{{ location.address }}</p>
              <p class="mb-0"><a href="tel:{{ location.phone }}">{{ location.phone }}</a></p>
              <p><a href="mailto:{{ location.email }}">{{ location.email }}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="make-a-difference" class="position-relative pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <div class="text-center">
          <h2 class="mb-0 editable animate fade-up">
            <strong>Help Make a Difference</strong>
          </h2>
          <div class="editable animate fade-up">
            <h2>By Participating in Clinical Research</h2>
            <p>People who volunteer to participate in clinical trials are key to the advancement of medical research. Our sites are dedicated to conducting clinical trials with an emphasis on patient care. Our physician investigators and other members of our research teams are extensively trained in different medical subspecialties as well as the complex field of clinical research. We strive to provide our study participants and sponsors a high quality, efficient and care-directed clinical trial experience.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/img/dots1.png" class="dots bottom-left overflow-left" alt="Dots image" />
</section>
<section id="member" class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        {% include locations/mosaic-location.html %}
      </div>
      <div class="col-lg-5 ml-lg-auto">
        <h2 class="animate fade-up editable">
          Velocity Clinical Research, Panorama City
        </h2>
        <div class="animate fade-up editable">
          <p>Velocity Clinical Research, Panorama City, formerly Nation al Research Institute, is part of the Velocity Clinical Research Organization, a wholly owned Site Organization, providing excellence in patient care, high quality data and fully integrated research sites.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-primary text-white" style="background-image: url(/img/Carousel-Bar.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto">
        <h2 class="text-center text-white editable animate fade-up">
          Our Mission
        </h2>
        <div class="text-center editable animate fade-up">
          <p>Velocity&rsquo;s mission is to bring innovative medical treatments to patients. We are committed to making clinical trials succeed by generating high quality data from as many patients as possible, as quickly as possible while providing exemplary patient care at every step.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="story">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 animate blur">
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[5].image }}" data-cms-editor-link="cloudcannon:#_assets[5].image" data-cms-editor-link-style="modal">
        </div>
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[6].image }}" data-cms-editor-link="cloudcannon:#_assets[6].image" data-cms-editor-link-style="modal">
        </div>
      </div>
      <div class="col-lg-7 ml-lg-auto">
        <h5 class="animate fade-up editable mb-0 text-secondary">
          Our Story
        </h5>
        <h2 class="animate fade-up editable">
          Conducting Clinical Trials Over 30 Years
        </h2>
        <div class="animate fade-up editable">
          <p>Velocity Clinical Research, Panorama City founded as the National Research Institute, a five site research network in southern California. Panorama City offers a wide range of expertise including diabetes, NASH, vaccines, psychiatry, women&rsquo;s health, and pediatric trials. Panorama City&rsquo;s experienced staff maintains high quality standards and enrollment on all their trials.</p>
          <p>Located outside of Los Angeles, the Panorama City site is easily accessible for patients through public transport. The Panorama City team is bilingual allowing the site to recruit a diverse patient population. The local hospital is located less than a mile away.</p>
          <p>The Panorama City team is committed to being a resource for study volunteers, to providing the highest quality of patient care with compassion and kindness and to advancing medicine though research. By becoming part of the Velocity Clinical Research organization in 2021, they added new efficiencies and integration to their already comprehensive approaches to conducting clinical trials.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="location-team" class="bg-light position-relative">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-10 mx-lg-auto">
        <h2 class="animate fade-up editable text-center">
          Our Experienced Research Team
        </h2>
        <div class="text-center animate fade-up editable">
          <p>The Velocity Panorama City team of physician investigators and clinical research professionals are experienced clinical researchers. All physicians are board certified in their specialty area(s) and all research staff is trained in clinical research regulations, including GCP and HIPAA. Training records and certifications are maintained. Our clinical team is dedicated to conducting quality research in a professional and caring environment and strives on collecting quality data.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include locations/team-list.html %}
      </div>
    </div>
  </div>
  <img src="/img/dots2.png" class="dots bottom-left" alt="Dots image" />
</section>
