/**************** common css start ****************/
body {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 14px;
}
.message_submit_form:focus {
	outline: none;
}
input:hover, input:focus {
	outline: none !important;
}
.gray_bg {
	background-color: #f7f7f7;
}
.section_padding {
	padding: 140px 0px;
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.section_padding {
	padding: 80px 0px;
}
}
 @media only screen and (min-width: 768px) and (max-width: 991px) {
.section_padding {
	padding: 70px 0px;
}
}
 @media (max-width: 576px) {
.section_padding {
	padding: 70px 0px;
}
}
 @media only screen and (min-width: 576px) and (max-width: 767px) {
.section_padding {
	padding: 70px 0px;
}
}
.single_padding_top {
	padding-top: 140px !important;
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.single_padding_top {
	padding-top: 70px !important;
}
}
 @media only screen and (min-width: 768px) and (max-width: 991px) {
.single_padding_top {
	padding-top: 70px !important;
}
}
 @media (max-width: 576px) {
.single_padding_top {
	padding-top: 70px !important;
}
}
 @media only screen and (min-width: 576px) and (max-width: 767px) {
.single_padding_top {
	padding-top: 80px !important;
}
}
.padding_top {
	padding-top: 40px;
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.padding_top {
	padding-top: 80px;
}
}
 @media only screen and (min-width: 768px) and (max-width: 991px) {
.padding_top {
	padding-top: 70px;
}
}
 @media (max-width: 576px) {
.padding_top {
	padding-top: 70px;
}
}
 @media only screen and (min-width: 576px) and (max-width: 767px) {
.padding_top {
	padding-top: 70px;
}
}
.padding_bottom {
	padding-bottom: 140px;
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.padding_bottom {
	padding-bottom: 80px;
}
}
 @media only screen and (min-width: 768px) and (max-width: 991px) {
.padding_bottom {
	padding-bottom: 70px;
}
}
 @media (max-width: 576px) {
.padding_bottom {
	padding-bottom: 70px;
}
}
 @media only screen and (min-width: 576px) and (max-width: 767px) {
.padding_bottom {
	padding-bottom: 70px;
}
}
a {
	text-decoration: none;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
a:hover {
	outline: none;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
}
p {
	color: #333333;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	font-size: 16px;
	margin-bottom: 0px;	
	text-align: justify;
}
h2 {
	font-size: 44px;
	line-height: 28px;
	color: #242429;
	font-weight: 600;
	line-height: 1.222;
}
 @media (max-width: 576px) {
h2 {
	font-size: 22px;
	line-height: 25px;
}
}
 @media only screen and (min-width: 576px) and (max-width: 767px) {
h2 {
	font-size: 24px;
	line-height: 25px;
}
}
h3 {
	font-size: 24px;
	line-height: 25px;
}
 @media (max-width: 576px) {
h3 {
	font-size: 20px;
}
}
h5 {
	font-size: 18px;
	line-height: 22px;
}
img {
	max-width: 100%;
}
a:focus, .button:focus, button:focus, .btn:focus {
	text-decoration: none;
	outline: none;
	box-shadow: none;
	-webkit-transition: 1s;
	transition: 1s;
}
.section_tittle {
	margin-bottom: 84px;
	
}

.our_depertment .section_tittle {
	margin-bottom: 0px;
	color:white;
}

 @media (max-width: 576px) {
.section_tittle {
	margin-bottom: 50px;
}
}
 @media only screen and (min-width: 576px) and (max-width: 767px) {
.section_tittle {
	margin-bottom: 50px;
}
}
 @media only screen and (min-width: 768px) and (max-width: 991px) {
.section_tittle {
	font-size: 50px;
	margin-bottom: 50px;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.section_tittle {
	margin-bottom: 50px;
}
}
.section_tittle h2 {
	font-size: 48px;
	color: #242429;
	line-height: 40px;
	font-weight: 700;
	position: relative;
	margin-bottom: 28px;
}
 @media (max-width: 991px) {
.section_tittle h2 {
	font-size: 25px;
	line-height: 35px;
	margin-bottom: 10px;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.section_tittle h2 {
	font-size: 35px;
	line-height: 40px;
	margin-bottom: 10px;
}
}
.section_tittle p {
	color: #7f7f7f;
	font-weight: 500;
	text-transform: capitalize;
	margin-bottom: 26px;
	font-size: 14px;
}
 @media (max-width: 576px) {
.section_tittle p {
	margin-bottom: 10px;
}
}
 @media only screen and (min-width: 576px) and (max-width: 767px) {
.section_tittle p {
	margin-bottom: 10px;
}
}
 @media only screen and (min-width: 768px) and (max-width: 991px) {
.section_tittle p {
	margin-bottom: 10px;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.section_tittle p {
	margin-bottom: 10px;
}
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.mb_110 {
	margin-bottom: 110px;
}
 @media (max-width: 576px) {
.mb_110 {
	margin-bottom: 220px;
}
}
.mt_130 {
	margin-top: 130px;
}
 @media (max-width: 576px) {
.mt_130 {
	margin-top: 70px;
}
}
 @media only screen and (min-width: 576px) and (max-width: 767px) {
.mt_130 {
	margin-top: 70px;
}
}
 @media only screen and (min-width: 768px) and (max-width: 991px) {
.mt_130 {
	margin-top: 70px;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.mt_130 {
	margin-top: 70px;
}
}
.mb_130 {
	margin-bottom: 130px;
}
 @media (max-width: 576px) {
.mb_130 {
	margin-bottom: 70px;
}
}
 @media only screen and (min-width: 576px) and (max-width: 767px) {
.mb_130 {
	margin-bottom: 70px;
}
}
 @media only screen and (min-width: 768px) and (max-width: 991px) {
.mb_130 {
	margin-bottom: 70px;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.mb_130 {
	margin-bottom: 70px;
}
}
.padding_less_40 {
	margin-bottom: -50px;
}
.z_index {
	z-index: 9 !important;
	position: relative;
}
 @media only screen and (min-width: 1200px) and (max-width: 3640px) {
.container {
	max-width: 1170px;
}
}
 @media (max-width: 1200px) {
 [class*="hero-ani-"] {
 display: none !important;
}
}
.form-control:focus {
	box-shadow: none;
}
/**************** common css end ****************/
/* Main Button Area css
============================================================================================ */
.btn_1, .btn_2, .regervation_part .btn_2:hover {
	background-image: -webkit-linear-gradient(to right, #3fb44e, #3fb44e, #3fb44e);
	background-image: -o-linear-gradient(to right, #3fb44e, #3fb44e, #3fb44e);
	background-image: linear-gradient(to right, #3fb44e, #3fb44e, #3fb44e);
}
.regervation_part .btn_2 {
	background-image: -webkit-linear-gradient(to right, #fff, #fff, #fff);
	background-image: -o-linear-gradient(to right, #fff, #fff, #fff);
	background-image: linear-gradient(to right, #fff, #fff, #fff);
}
.submit_btn {
	width: auto;
	display: inline-block;
	background: #fff;
	padding: 0px 50px;
	color: #fff;
	font-size: 13px;
	font-weight: 500;
	line-height: 50px;
	border-radius: 5px;
	outline: none !important;
	box-shadow: none !important;
	text-align: center;
	border: 1px solid #edeff2;
	cursor: pointer;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.submit_btn:hover {
	background: transparent;
}
.btn_1 {
	display: inline-block;
	padding: 10.5px 36px;
	font-size: 14px;
	color: #000;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	text-transform: capitalize;
	border: 1px solid #e4e6ea;
	border-radius: 2px;
	font-family: 'Montserrat', sans-serif;
	background-size: 200% auto;
}
.btn_1:hover {
	background-color: #0065e1 !important;
	color: #fff;
	background-size: 200% auto;
}
 @media (max-width: 576px) {
.btn_1 {
	padding: 10px 30px;
	margin-top: 25px;
}
}
 @media only screen and (min-width: 576px) and (max-width: 767px) {
.btn_1 {
	padding: 10px 30px;
	margin-top: 30px;
}
}
 @media only screen and (min-width: 768px) and (max-width: 991px) {
.btn_1 {
	padding: 10px 30px;
	margin-top: 30px;
}
}
.btn_2 {
	display: inline-block;
	padding: 10px 20px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	text-transform: uppercase;
	border-radius: 2px;
	font-family: 'Montserrat', sans-serif;
	background-size: 200% auto;
	border-radius: 5px;
	display: inline-block;
	font-weight: 600;
	box-shadow: -10px 13px 41px -6px rgb(0 0 0 / 50%);
}
.btn_2:hover {
	color: #fff;
	background-position: center right;
}
/*=================== custom button rule start ====================*/
.button {
	display: inline-block;
	border: 1px solid transparent;
	font-size: 15px;
	font-weight: 500;
	padding: 12px 54px;
	border-radius: 4px;
	color: #fff;
	border: 1px solid #edeff2;
	text-transform: uppercase;
	background-color: #0065e1;
	cursor: pointer;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
 @media (max-width: 767px) {
.button {
	font-size: 13px;
	padding: 9px 24px;
}
}
.button:hover {
	color: #fff;
}
.button-link {
	letter-spacing: 0;
	color: #3b1d82;
	border: 0;
	padding: 0;
}
.button-link:hover {
	background: transparent;
	color: #3b1d82;
}
.button-header {
	color: #fff;
	border-color: #edeff2;
}
.button-header:hover {
	background: #b8024c;
	color: #fff;
}
.button-contactForm {
	color: #fff;
	border-color: #edeff2;
	padding: 12px 25px;
}
.our_depertment {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1;
}
 @media (max-width: 991px) {
.our_depertment {
	padding: 70px 0 30px;
}
}
.our_depertment:after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #5cd6ad;
	opacity: 1;
	z-index: -1;
}
.our_depertment .depertment_content {
 background-color:;
	padding: 40px 0;
 margin-top:;
}
 @media (max-width: 991px) {
.our_depertment .depertment_content {
	margin-top: 0;
	background-color: transparent;
	padding: 0;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.our_depertment .depertment_content {
	margin-top: -170px;
	padding: 80px 15px 20px;
}
}
.our_depertment .depertment_content h2 {
	font-size: 44px;
	line-height: 30px;
	font-weight: 700;
	margin-bottom: 80px;
}
 @media (max-width: 991px) {
.our_depertment .depertment_content h2 {
	margin-bottom: 60px;
	color: #fff;
	line-height: 50px;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.our_depertment .depertment_content h2 {
	font-size: 35px;
}
}
.our_depertment .single_our_depertment {
	position: relative;
	border: 0px solid #f2f6f8;
	padding: 30px 15px 30px;
	margin-bottom: 30px;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	box-shadow: .5px .87px 10px 0 rgba(0,0,0,.07);
	min-height: 270px;
	background:white;
}
.our_depertment .single_our_depertment1 {
	position: relative;
	border: 1px solid #f2f6f8;
	padding: 30px 15px 30px;
	margin-bottom: 30px;
	box-shadow: .5px .87px 10px 0 rgba(0,0,0,.07);
	min-height: 240px;
}
 @media (max-width: 991px) {
.our_depertment .single_our_depertment {
	margin-top: 0;
	background-color: #fff;
	margin-bottom: 40px;
}
}
.our_depertment .single_our_depertment .our_depertment_icon {
	height: 50px;
	width: 50px;
	background-color: #f2f6f8;
	display: inline-block;
	line-height: 50px;
	border-radius: 50%;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: -25px;
}
.our_depertment .single_our_depertment .our_depertment_icon img {
	max-width: 25px;
}
.our_depertment .single_our_depertment h4 {
	font-size: 22px;
	font-weight: 500;
	line-height: 17px;
	margin-bottom: 27px;
	color: #333;
}
.our_depertment .single_our_depertment p {
	
}
.our_depertment .single_our_depertment:hover {
	background-color: #5cd6ad;
	border: 1px solid #fff;
	color: #fff;
}
.our_depertment .single_our_depertment1:hover {
	background-color: #ffffff;
	border: 1px solid #fff;
	color: #fff;
}
.our_depertment .single_our_depertment:hover h4, .our_depertment .single_our_depertment:hover p {
	color: #fff;
}
.single_pepertment_page {
	margin-top: 520px;
}
 @media (max-width: 991px) {
.single_pepertment_page {
	margin-top: 70px;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.single_pepertment_page {
	margin-top: 150px;
}
}
/**************menu part start*****************/
.home_menu {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
}
.main_menu .navbar-brand {
	padding: 0rem !important;
}
 @media (max-width: 576px) {
.main_menu .navbar-brand {
	max-width: 120px;
}
}
 @media only screen and (min-width: 576px) and (max-width: 767px) {
.main_menu .navbar-brand {
	max-width: 130px;
}
}
.main_menu .navbar-toggler {
	position: relative;
	z-index: 1;
}
.main_menu .navbar-toggler:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	background-size: 200% auto;
}
.main_menu .navbar {
	padding: 0;
}
 @media (max-width: 576px) {
.main_menu .navbar {
	padding: 15px 0;
}
}
 @media only screen and (min-width: 576px) and (max-width: 767px) {
.main_menu .navbar {
	padding: 15px 0;
}
}
.main_menu .main-menu-item {
	text-align: center;
	justify-content: center;
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.main_menu .main-menu-item {
	padding-left: 25px;
}
}
.main_menu .main-menu-item ul li .nav-link {
	color: #284497;
	font-size: 16px;
	padding: 30px 20px;
	font-family: 'Montserrat', sans-serif;
	line-height: 13px;
	text-transform: uppercase;
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.main_menu .main-menu-item ul li .nav-link {
	padding: 35px 16px;
}
}
.main_menu .main-menu-item ul li .nav-link:hover {
	color: #0065e1;
}
.main_menu .btn_1 {
	padding: 8.5px 34px;
	margin-left: 65px;
}
.dropdown-menu {
	border: 0px solid rgba(0, 0, 0, 0.15) !important;
	background-color: #fafafa;
}
.dropdown .dropdown-menu {
	transition: all 0.5s;
	overflow: hidden;
	transform-origin: top center;
	transform: scale(1, 0);
	display: block;
	margin-top: -1px;
}
.dropdown .dropdown-menu .dropdown-item {
	font-size: 14px;
	padding: 9px 18px !important;
	color: #000 !important;
	text-transform: capitalize;
}
.dropdown .dropdown-menu .dropdown-item:hover {
	color: #0065e1 !important;
}
.dropdown:hover .dropdown-menu {
	transform: scale(1);
}
 @media (max-width: 991px) {
.single_page_menu .navbar-collapse ul li .nav-link {
	color: #000 !important;
}
.main_menu .navbar {
	padding: 15px 0;
}
.navbar-light .navbar-toggler {
	border-color: transparent;
	padding: 0;
}
.navbar-collapse {
	z-index: 9999 !important;
	position: absolute;
	left: 0;
	top: 62px;
	width: 100%;
	background-color: #33cc99;
	text-align: center !important;
	box-shadow: 0px 11px 9px -5px rgba(0, 0, 0, 0.2);
}
.main_menu .main-menu-item {
	text-align: left !important;
}
.main_menu .main-menu-item .nav-item {
	padding: 5px 15px !important;
}
.main_menu .main-menu-item .nav-item a {
	padding: 5px 15px !important;
}
.navbar-nav {
	align-items: start !important;
}
.dropdown .dropdown-menu {
	transform: scale(1, 0);
	display: none;
	margin-top: 10px;
}
.dropdown:hover .dropdown-menu {
	transform: scale(1);
	display: block;
	color: #0065e1;
}
.dropdown .dropdown-item:hover {
	color: #0065e1 !important;
}
}
.single_page_menu .logo_2 {
	display: none;
}
.single_page_menu .logo_1 {
	display: inherit;
}
.single_page_menu .main-menu-item ul li .nav-link {
	color: #fff;
	font-size: 15px;
	padding: 0px 24px;
	font-family: 'Montserrat', sans-serif;
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.single_page_menu .main-menu-item ul li .nav-link {
	padding: 0px 16px;
}
}
.menu_fixed {
	position: fixed;
	z-index: 9999 !important;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
	top: 0;
}
.menu_fixed .logo_2 {
	display: inherit;
}
.menu_fixed .logo_1 {
	display: none;
}
.menu_fixed .main-menu-item ul li .nav-link {
	color: #000;
}
/**************** banner part css start ****************/
.banner_part {
	height: 750px;
	position: relative;
	overflow: hidden;
	background-image: url(../img/healthcare-banner.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}
 @media (max-width: 991px) {
.banner_part {
	background-image: none;
	background-color: #0c235d;
	height: 650px;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.banner_part {
	height: 650px;
}
}
.banner_part .banner_text {
	display: table;
	width: 100%;
	height: 600px;
}
.banner_part .banner_text .banner_text_iner {
	display: table-cell;
	vertical-align: middle;
	padding-top: 155px;
}
 @media (max-width: 991px) {
.banner_part .banner_text .banner_text_iner {
	vertical-align: middle;
	padding-top: 0;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.banner_part .banner_text .banner_text_iner {
	padding-top: 0;
	padding-top: 100px;
}
}
 @media (max-width: 576px) {
.banner_part .banner_text {
	text-align: center;
	padding-top: 0px;
	height: 650px;
}
}
 @media only screen and (min-width: 576px) and (max-width: 767px) {
.banner_part .banner_text {
	text-align: center;
	padding-top: 0px;
	height: 650px;
}
}
 @media only screen and (min-width: 768px) and (max-width: 991px) {
.banner_part .banner_text {
	text-align: center;
	padding-top: 0px;
	height: 650px;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.banner_part .banner_text {
	height: 650px;
}
}
.banner_part .banner_text h5 {
	font-size: 20px;
	text-transform: capitalize;
	font-weight: 500;
	color: #ffffff;
	margin-bottom: 0;
}
.banner_part .banner_text h1 {
	font-size: 55px;
	text-transform: capitalize;
	font-weight: 700;
	margin-bottom: 12px;
	line-height: 1.2;
}
 @media (max-width: 576px) {
.banner_part .banner_text h1 {
	font-size: 35px;
	margin-bottom: 15px;
	margin-top: 25px;
	line-height: 1.3;
}
}
 @media only screen and (min-width: 576px) and (max-width: 767px) {
.banner_part .banner_text h1 {
	font-size: 40px;
	margin-bottom: 15px;
	line-height: 1.3;
}
}
 @media only screen and (min-width: 768px) and (max-width: 991px) {
.banner_part .banner_text h1 {
	font-size: 40px;
	margin-bottom: 15px;
	line-height: 1.3;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.banner_part .banner_text h1 {
	font-size: 40px;
	margin-bottom: 15px;
	line-height: 1.4;
}
}
.banner_part .banner_text h1 span {
	color: #0065e1;
}
.banner_part .banner_text p {
	font-size: 15px;
	line-height: 30px;
	font-family: 'Montserrat', sans-serif;
	color: #242429;
	padding-right: 20px;
}
.banner_part .banner_text .btn_2 {
	margin-top: 20px;
}
 @media (max-width: 991px) {
.banner_part .banner_text .btn_2 {
	margin-top: 20px;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.banner_part .banner_text .btn_2 {
	margin-top: 20px;
}
}
 @media (max-width: 991px) {
.banner_part .banner_img {
	display: none;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.banner_part {
	margin-top: 20px;
}
}
/**************** hero part css end ****************/
/************Team css start***************/
.about_us {
	position: relative;
	z-index: 99;
	background-image: url(../img/about_bg.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: 50% 90%;
}
 @media (max-width: 991px) {
.about_us {
	padding: 70px 0 0;
	background-image: none;
}
}
 @media (max-width: 576px) {
.about_us .about_us_text {
	padding-left: 0;
}
}
 @media only screen and (min-width: 576px) and (max-width: 767px) {
.about_us .about_us_text {
	padding-left: 0;
}
}
 @media only screen and (min-width: 768px) and (max-width: 991px) {
.about_us .about_us_text {
	padding-left: 0;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.about_us .about_us_text {
	padding-left: 0;
}
}
.about_us .about_us_text h2 {
	font-size: 42px;
	font-weight: 600;
	margin-bottom: 24px;
	position: relative;
}
 @media (max-width: 991px) {
.about_us .about_us_text h2 {
	font-size: 22px;
	margin-bottom: 10px;
	line-height: 35px;
	margin-top: 15px;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.about_us .about_us_text h2 {
	font-size: 28px;
	margin-bottom: 20px;
	line-height: 40px;
}
}
.about_us .about_us_text p {
	line-height: 1.929;
	margin-bottom: 35px;
}
 @media (max-width: 576px) {
.about_us .about_us_text p {
	margin-bottom: 10px;
}
}
 @media only screen and (min-width: 576px) and (max-width: 767px) {
.about_us .about_us_text p {
	margin-bottom: 20px;
}
}
 @media only screen and (min-width: 768px) and (max-width: 991px) {
.about_us .about_us_text p {
	margin-bottom: 20px;
}
}
.about_us .about_us_text ul {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 30px;
}
 @media (max-width: 576px) {
.about_us .about_us_text ul {
	margin-bottom: 10px;
}
}
 @media only screen and (min-width: 576px) and (max-width: 767px) {
.about_us .about_us_text ul {
	margin-bottom: 20px;
}
}
 @media only screen and (min-width: 768px) and (max-width: 991px) {
.about_us .about_us_text ul {
	margin-bottom: 20px;
}
}
.about_us .about_us_text ul li {
	display: inline-block;
	margin-bottom: 20px;
	font-size: 16px;
	padding-right: 33px;
	padding-top: 12px;
	color: #242429;
	width: 50%;
	float: left;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	padding-left: 29px;
}
 @media (max-width: 991px) {
.about_us .about_us_text ul li {
	padding-top: 5px;
	padding-right: 15px;
}
}
.about_us .about_us_text ul li span {
	margin-right: 10px;
	color: #0065e1;
	position: absolute;
	top: 16px;
	left: 0;
}
 @media (max-width: 991px) {
.about_us .about_us_text ul li span {
	top: 10px;
}
}
.about_us .about_us_text .btn_2 {
	margin-top: 13px;
}
.banner_item {
	display: flex;
	justify-content: space-between;
}
.banner_item .single_item {
	text-align: center;
	margin-top: 100px;
	position: relative;
	z-index: 1;
}
 @media (max-width: 991px) {
.banner_item .single_item {
	margin-top: 30px;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.banner_item .single_item {
	margin-top: 30px;
}
}
.banner_item .single_item:after {
	position: absolute;
	content: "";
	right: -48%;
	top: 0;
	width: 1px;
	height: 100%;
	background-color: #e4e6ea;
}
 @media (max-width: 991px) {
.banner_item .single_item:after {
	display: none;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.banner_item .single_item:after {
	right: -14%;
}
}
.banner_item .single_item:last-child:after {
	width: 0;
}
.banner_item .single_item img {
	width: 44px;
	margin-bottom: 25px;
}
.banner_item .single_item h5 {
	font-size: 18px;
	text-transform: capitalize;
	color: #242429;
}
 @media (max-width: 576px) {
.banner_item .single_item h5 {
	font-size: 14px;
	line-height: 22px;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.banner_item .single_item h5 {
	font-size: 16px;
}
}
 @media (max-width: 991px) {
.top_service {
	padding: 0 0 70px;
}
.top_service .our_abilityabout_us_img {
	margin-top: 25px;
}
}
.single_about_padding {
	padding: 140px 0 0;
	margin-bottom: 515px;
}
 @media (max-width: 991px) {
.single_about_padding {
	padding: 70px 0 0;
	margin-bottom: 70px;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.single_about_padding {
	padding: 80px 0 0;
	margin-bottom: 150px;
}
}
/**************** service_part css start ****************/
.feature_part {
	padding: 70px 0;
}
 @media (max-width: 991px) {
.feature_part {
	padding: 70px 0;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.feature_part {
	padding: 80px 0 150px;
}
}
.feature_part .section_tittle {
	margin-bottom: 0px;
}
.feature_part .single_feature_text h2 {
	font-size: 42px;
	line-height: 1.222;
	margin-bottom: 30px;
	-webkit-transition: 1s;
	transition: 1s;
}
 @media (max-width: 576px) {
.feature_part .single_feature_text h2 {
	margin-top: 0px;
	font-size: 25px;
	margin-bottom: 15px;
}
}
 @media only screen and (min-width: 576px) and (max-width: 767px) {
.feature_part .single_feature_text h2 {
	margin-top: 0px;
	font-size: 30px;
	margin-bottom: 15px;
}
}
 @media only screen and (min-width: 768px) and (max-width: 991px) {
.feature_part .single_feature_text h2 {
	font-size: 30px;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.feature_part .single_feature_text h2 {
	margin-top: 0px;
	font-size: 35px;
}
}
.feature_part .single_feature_text p {
	line-height: 1.9;
	color: #7f7f7f;
	-webkit-transition: 1s;
	transition: 1s;
}
.feature_part .single_feature_text .btn_2 {
	margin-top: 45px;
	padding: 13.5px 38px;
}
 @media (max-width: 576px) {
.feature_part .single_feature_text .btn_2 {
	margin-top: 25px;
}
}
 @media only screen and (min-width: 576px) and (max-width: 767px) {
.feature_part .single_feature_text .btn_2 {
	margin-top: 25px;
}
}
 @media only screen and (min-width: 768px) and (max-width: 991px) {
.feature_part .single_feature_text .btn_2 {
	margin-top: 25px;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.feature_part .single_feature_text .btn_2 {
	margin-top: 25px;
}
}
.feature_part .single_feature_part {
	-webkit-transition: 1s;
	transition: 1s;
	position: relative;
}
 @media (max-width: 991px) {
.feature_part .single_feature_part {
	margin-top: 0;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.feature_part .single_feature_part {
	margin-top: 25px;
}
}
.feature_part .single_feature_part span {
	margin-bottom: 17px;
	display: inline-block;
	position: relative;
	z-index: 1;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	background-color: #f0f4f6;
	display: inline-block;
	line-height: 50px;
	-webkit-transition: 1s;
	transition: 1s;
}
 @media (max-width: 576px) {
.feature_part .single_feature_part span {
	margin-bottom: 10px;
}
}
 @media only screen and (min-width: 576px) and (max-width: 767px) {
.feature_part .single_feature_part span {
	margin-bottom: 7px;
}
}
 @media only screen and (min-width: 768px) and (max-width: 991px) {
.feature_part .single_feature_part span {
	margin-bottom: 15px;
}
}
.feature_part .single_feature_part span i {
	color: #0c2e60;
	font-size: 24px;
	-webkit-transition: 1s;
	transition: 1s;
}
.feature_part .single_feature_part span img {
	width: 25px;
}
.feature_part .single_feature_part h4 {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 10px;/* position: absolute; *//* top: 13px; *//* left: 75px; */
}
 @media (max-width: 576px) {
.feature_part .single_feature_part h4 {
	margin-bottom: 15px;
	top: 12px;
	left: 74px;
}
}
 @media only screen and (min-width: 576px) and (max-width: 767px) {
.feature_part .single_feature_part h4 {
	top: 15px;
	left: 74px;
}
}
 @media only screen and (min-width: 768px) and (max-width: 991px) {
.feature_part .single_feature_part h4 {
	margin-bottom: 15px;
	top: 17px;
	left: 82px;
}
}
.feature_part .single_feature_part p {
	color: #333333;
	line-height: 1.5;
	font-size: 15px;
}
.feature_part .single_feature {
	margin-top: 40px;
}
 @media (max-width: 991px) {
.feature_part .single_feature {
	margin-top: 30px;
}
}
 @media only screen and (min-width: 576px) and (max-width: 767px) {
.feature_part .single_feature {
	width: 50%;
	float: left;
	padding: 0 15px;
}
}
 @media only screen and (min-width: 768px) and (max-width: 991px) {
.feature_part .single_feature {
	width: 50%;
	float: left;
	padding: 0 15px;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.feature_part .single_feature {
	margin-top: 30px;
}
}
 @media (max-width: 991px) {
.single_feature_img {
	text-align: center;
	margin: 30px 0 0;
}
}
.single_feature_page {
	padding: 140px 0 0;
}
 @media (max-width: 991px) {
.single_feature_page {
	padding: 70px 0 0;
}
}
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
.single_feature_page {
	padding: 80px 0 0;
}
}
.footer-area {
	background-color: #f3f6f7;
}
 @media (max-width: 991px) {
.footer-area .single-footer-widget {
	margin-bottom: 30px;
}
}
.footer-area .single-footer-widget p {
	color: #7b838a;
}
.footer-area .single-footer-widget h4 {
	color: #242429;
	font-style: inherit;
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 20px;
}
 @media (max-width: 1024px) {
.footer-area .single-footer-widget h4 {
	font-size: 18px;
}
}
 @media (max-width: 991px) {
.footer-area .single-footer-widget h4 {
	margin-bottom: 15px;
}
}
.footer-area .single-footer-widget ul li {
	margin-bottom: 14px;
}
.footer-area .single-footer-widget ul li a {
	color: #7f7f7f;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.footer-area .single-footer-widget ul li a:hover {
	color: #0065e1;
}
.footer-area .single-footer-widget .form-wrap {
	margin-top: 25px;
	position: relative;
}
.footer-area .single-footer-widget input {
	height: 48px;
	border: none;
	width: 100% !important;
	font-weight: 400;
	background: transparent;
	padding-left: 20px;
	border-radius: 0;
	font-size: 14px;
	padding: 10px;
	border: 1px solid #e1e1e1 !important;
	color: #999999;
}
.footer-area .single-footer-widget input:focus {
	outline: none;
	box-shadow: none;
}
.footer-area .single-footer-widget .click-btn {
	background-color: #0065e1;
	color: #fff;
	border-radius: 5px;
	border: 0;
	position: absolute;
	right: 5px;
	width: 40px;
	height: 40px;
	line-height: 30px;
	text-align: center;
	display: inline-block;
}
.footer-area .single-footer-widget .click-btn:focus {
	outline: none;
	box-shadow: none;
}
.footer-area .footer_logo {
	margin-bottom: 30px;
	display: inline-block;
}
.footer-area .social_logo {
	margin-top: 20px;
}
.footer-area .social_logo a {
	color: #b8bcbf;
	margin-right: 10px;
}
.footer-area .social_logo a:hover {
	color: #0065e1;
}
.footer-area .footer-bottom {
	margin-top: 70px;
}
 @media (max-width: 991px) {
.footer-area .footer-bottom {
	margin-top: 20px;
}
}
.footer-area .footer-bottom .footer-social {
	text-align: center;
}
 @media (max-width: 991px) {
.footer-area .footer-bottom .footer-social {
	text-align: left;
	margin-top: 30px;
}
}
.footer-area .footer-bottom .footer-social a {
	background: rgba(255, 255, 255, 0.15);
	margin-left: 3px;
	width: 32px;
	display: inline-grid;
	text-align: center;
	height: 32px;
	align-content: center;
}
.footer-area .footer-bottom .footer-social a i, .footer-area .footer-bottom .footer-social a span {
	font-size: 14px;
}
.footer-area .copyright_part {
	background-color: #0d1820;
	padding: 26px 0px;
}
.footer-area .copyright_part a {
	color: #0065e1;
}
 @media (max-width: 576px) {
.footer-area .copyright_part .footer-social {
	margin-top: 20px;
}
}
.footer-area .copyright_part .footer-social a {
	margin-left: 20px;
	color: #fff;
	text-align: center;
}
.footer-area .copyright_part .footer-social a:hover {
	color: #0065e1;
}
.footer-area .copyright_part .footer-social a i:hover {
	color: #0065e1;
}
.footer-area .copyright_part .footer-social a [class^="ti-"], .footer-area .copyright_part .footer-social a [class*=" ti-"] {
	line-height: 0;
}
 @media (max-width: 991px) {
.footer-area .copyright_part .footer-text {
	text-align: center;
}
}
.sample-text-area {
	background: #fff;
	padding: 100px 0 70px 0;
}
.text-heading {
	margin-bottom: 30px;
	font-size: 24px;
}
b, sup, sub, u, del {
	color: #0065e1;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.2em;
}
.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
	color: #828bb2;
}
.button-area {
	background: #fff;
}
.button-area .border-top-generic {
	padding: 70px 15px;
	border-top: 1px dotted #eee;
}
.button-group-area .genric-btn {
	margin-right: 10px;
	margin-top: 10px;
}
.button-group-area .genric-btn:last-child {
	margin-right: 0;
}
.genric-btn {
	display: inline-block;
	outline: none;
	line-height: 40px;
	padding: 0 30px;
	font-size: .8em;
	text-align: center;
	text-decoration: none;
	font-weight: 500;
	cursor: pointer;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.genric-btn:focus {
	outline: none;
}
.genric-btn.e-large {
	padding: 0 40px;
	line-height: 50px;
}
.genric-btn.large {
	line-height: 45px;
}
.genric-btn.medium {
	line-height: 30px;
}
.genric-btn.small {
	line-height: 25px;
}
.genric-btn.radius {
	border-radius: 3px;
}
.genric-btn.circle {
	border-radius: 20px;
}
.genric-btn.arrow {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.genric-btn.arrow span {
	margin-left: 10px;
}
.genric-btn.default {
	color: #415094;
	background: #f9f9ff;
	border: 1px solid transparent;
}
.genric-btn.default:hover {
	border: 1px solid #f9f9ff;
	background: #fff;
}
.genric-btn.default-border {
	border: 1px solid #f9f9ff;
	background: #fff;
}
.genric-btn.default-border:hover {
	color: #415094;
	background: #f9f9ff;
	border: 1px solid transparent;
}
.genric-btn.primary {
	color: #fff;
	background: #0065e1;
	border: 1px solid transparent;
}
.genric-btn.primary:hover {
	color: #0065e1;
	border: 1px solid #0065e1;
	background: #fff;
}
.genric-btn.primary-border {
	color: #0065e1;
	border: 1px solid #0065e1;
	background: #fff;
}
.genric-btn.primary-border:hover {
	color: #fff;
	background: #0065e1;
	border: 1px solid transparent;
}
.genric-btn.success {
	color: #fff;
	background: #4cd3e3;
	border: 1px solid transparent;
}
.genric-btn.success:hover {
	color: #4cd3e3;
	border: 1px solid #4cd3e3;
	background: #fff;
}
.genric-btn.success-border {
	color: #4cd3e3;
	border: 1px solid #4cd3e3;
	background: #fff;
}
.genric-btn.success-border:hover {
	color: #fff;
	background: #4cd3e3;
	border: 1px solid transparent;
}
.genric-btn.info {
	color: #fff;
	background: #38a4ff;
	border: 1px solid transparent;
}
.genric-btn.info:hover {
	color: #38a4ff;
	border: 1px solid #38a4ff;
	background: #fff;
}
.genric-btn.info-border {
	color: #38a4ff;
	border: 1px solid #38a4ff;
	background: #fff;
}
.genric-btn.info-border:hover {
	color: #fff;
	background: #38a4ff;
	border: 1px solid transparent;
}
.genric-btn.warning {
	color: #fff;
	background: #f4e700;
	border: 1px solid transparent;
}
.genric-btn.warning:hover {
	color: #f4e700;
	border: 1px solid #f4e700;
	background: #fff;
}
.genric-btn.warning-border {
	color: #f4e700;
	border: 1px solid #f4e700;
	background: #fff;
}
.genric-btn.warning-border:hover {
	color: #fff;
	background: #f4e700;
	border: 1px solid transparent;
}
.genric-btn.danger {
	color: #fff;
	background: #f44a40;
	border: 1px solid transparent;
}
.genric-btn.danger:hover {
	color: #f44a40;
	border: 1px solid #f44a40;
	background: #fff;
}
.genric-btn.danger-border {
	color: #f44a40;
	border: 1px solid #f44a40;
	background: #fff;
}
.genric-btn.danger-border:hover {
	color: #fff;
	background: #f44a40;
	border: 1px solid transparent;
}
.genric-btn.link {
	color: #415094;
	background: #f9f9ff;
	text-decoration: underline;
	border: 1px solid transparent;
}
.genric-btn.link:hover {
	color: #415094;
	border: 1px solid #f9f9ff;
	background: #fff;
}
.genric-btn.link-border {
	color: #415094;
	border: 1px solid #f9f9ff;
	background: #fff;
	text-decoration: underline;
}
.genric-btn.link-border:hover {
	color: #415094;
	background: #f9f9ff;
	border: 1px solid transparent;
}
.genric-btn.disable {
	color: #222222, 0.3;
	background: #f9f9ff;
	border: 1px solid transparent;
	cursor: not-allowed;
}
.generic-blockquote {
	padding: 30px 50px 30px 30px;
	background: #f9f9ff;
	border-left: 2px solid #0065e1;
}
.progress-table-wrap {
	overflow-x: scroll;
}
.progress-table {
	background: #f9f9ff;
	padding: 15px 0px 30px 0px;
	min-width: 800px;
}
.progress-table .serial {
	width: 11.83%;
	padding-left: 30px;
}
.progress-table .country {
	width: 28.07%;
}
.progress-table .visit {
	width: 19.74%;
}
.progress-table .percentage {
	width: 40.36%;
	padding-right: 50px;
}
.progress-table .table-head {
	display: flex;
}
.progress-table .table-head .serial, .progress-table .table-head .country, .progress-table .table-head .visit, .progress-table .table-head .percentage {
	color: #415094;
	line-height: 40px;
	text-transform: uppercase;
	font-weight: 500;
}
.progress-table .table-row {
	padding: 15px 0;
	border-top: 1px solid #edf3fd;
	display: flex;
}
.progress-table .table-row .serial, .progress-table .table-row .country, .progress-table .table-row .visit, .progress-table .table-row .percentage {
	display: flex;
	align-items: center;
}
.progress-table .table-row .country img {
	margin-right: 15px;
}
.progress-table .table-row .percentage .progress {
	width: 80%;
	border-radius: 0px;
	background: transparent;
}
.progress-table .table-row .percentage .progress .progress-bar {
	height: 5px;
	line-height: 5px;
}
.progress-table .table-row .percentage .progress .progress-bar.color-1 {
	background-color: #6382e6;
}
.progress-table .table-row .percentage .progress .progress-bar.color-2 {
	background-color: #e66686;
}
.progress-table .table-row .percentage .progress .progress-bar.color-3 {
	background-color: #f09359;
}
.progress-table .table-row .percentage .progress .progress-bar.color-4 {
	background-color: #73fbaf;
}
.progress-table .table-row .percentage .progress .progress-bar.color-5 {
	background-color: #73fbaf;
}
.progress-table .table-row .percentage .progress .progress-bar.color-6 {
	background-color: #6382e6;
}
.progress-table .table-row .percentage .progress .progress-bar.color-7 {
	background-color: #a367e7;
}
.progress-table .table-row .percentage .progress .progress-bar.color-8 {
	background-color: #e66686;
}
.single-gallery-image {
	margin-top: 30px;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
	height: 200px;
}
.list-style {
	width: 14px;
	height: 14px;
}
.unordered-list li {
	position: relative;
	padding-left: 30px;
	line-height: 1.82em !important;
}
.unordered-list li:before {
	content: "";
	position: absolute;
	width: 14px;
	height: 14px;
	border: 3px solid #0065e1;
	background: #fff;
	top: 4px;
	left: 0;
	border-radius: 50%;
}
.ordered-list {
	margin-left: 30px;
}
.ordered-list li {
	list-style-type: decimal-leading-zero;
	color: #0065e1;
	font-weight: 500;
	line-height: 1.82em !important;
}
.ordered-list li span {
	font-weight: 300;
	color: #828bb2;
}
.ordered-list-alpha li {
	margin-left: 30px;
	list-style-type: lower-alpha;
	color: #0065e1;
	font-weight: 500;
	line-height: 1.82em !important;
}
.ordered-list-alpha li span {
	font-weight: 300;
	color: #828bb2;
}
.ordered-list-roman li {
	margin-left: 30px;
	list-style-type: lower-roman;
	color: #0065e1;
	font-weight: 500;
	line-height: 1.82em !important;
}
.ordered-list-roman li span {
	font-weight: 300;
	color: #828bb2;
}
.single-input {
	display: block;
	width: 100%;
	line-height: 40px;
	border: none;
	outline: none;
	background: #f9f9ff;
	padding: 0 20px;
}
.single-input:focus {
	outline: none;
}
.input-group-icon {
	position: relative;
}
.input-group-icon .icon {
	position: absolute;
	left: 20px;
	top: 0;
	line-height: 40px;
	z-index: 3;
}
.input-group-icon .icon i {
	color: #797979;
}
.input-group-icon .single-input {
	padding-left: 45px;
}
.single-textarea {
	display: block;
	width: 100%;
	line-height: 40px;
	border: none;
	outline: none;
	background: #f9f9ff;
	padding: 0 20px;
	height: 100px;
	resize: none;
}
.single-textarea:focus {
	outline: none;
}
.single-input-primary {
	display: block;
	width: 100%;
	line-height: 40px;
	border: 1px solid transparent;
	outline: none;
	background: #f9f9ff;
	padding: 0 20px;
}
.single-input-primary:focus {
	outline: none;
	border: 1px solid #0065e1;
}
.single-input-accent {
	display: block;
	width: 100%;
	line-height: 40px;
	border: 1px solid transparent;
	outline: none;
	background: #f9f9ff;
	padding: 0 20px;
}
.single-input-accent:focus {
	outline: none;
	border: 1px solid #eb6b55;
}
.single-input-secondary {
	display: block;
	width: 100%;
	line-height: 40px;
	border: 1px solid transparent;
	outline: none;
	background: #f9f9ff;
	padding: 0 20px;
}
.single-input-secondary:focus {
	outline: none;
	border: 1px solid #f09359;
}
.default-switch {
	width: 35px;
	height: 17px;
	border-radius: 8.5px;
	background: #f9f9ff;
	position: relative;
	cursor: pointer;
}
.default-switch input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}
.default-switch input + label {
	position: absolute;
	top: 1px;
	left: 1px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #0065e1;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
.default-switch input:checked + label {
	left: 19px;
}
.primary-switch {
	width: 35px;
	height: 17px;
	border-radius: 8.5px;
	background: #f9f9ff;
	position: relative;
	cursor: pointer;
}
.primary-switch input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.primary-switch input + label {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.primary-switch input + label:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	border-radius: 8.5px;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.primary-switch input + label:after {
	content: "";
	position: absolute;
	top: 1px;
	left: 1px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #fff;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
.primary-switch input:checked + label:after {
	left: 19px;
}
.primary-switch input:checked + label:before {
	background: #0065e1;
}
.confirm-switch {
	width: 35px;
	height: 17px;
	border-radius: 8.5px;
	background: #f9f9ff;
	position: relative;
	cursor: pointer;
}
.confirm-switch input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.confirm-switch input + label {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.confirm-switch input + label:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	border-radius: 8.5px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	cursor: pointer;
}
.confirm-switch input + label:after {
	content: "";
	position: absolute;
	top: 1px;
	left: 1px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #fff;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
.confirm-switch input:checked + label:after {
	left: 19px;
}
.confirm-switch input:checked + label:before {
	background: #4cd3e3;
}
.primary-checkbox {
	width: 16px;
	height: 16px;
	border-radius: 3px;
	background: #f9f9ff;
	position: relative;
	cursor: pointer;
}
.primary-checkbox input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.primary-checkbox input + label {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid #f1f1f1;
}
.primary-checkbox input:checked + label {
	background: url(../img/elements/primary-check.png) no-repeat center center/cover;
	border: none;
}
.confirm-checkbox {
	width: 16px;
	height: 16px;
	border-radius: 3px;
	background: #f9f9ff;
	position: relative;
	cursor: pointer;
}
.confirm-checkbox input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.confirm-checkbox input + label {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid #f1f1f1;
}
.confirm-checkbox input:checked + label {
	background: url(../img/elements/success-check.png) no-repeat center center/cover;
	border: none;
}
.disabled-checkbox {
	width: 16px;
	height: 16px;
	border-radius: 3px;
	background: #f9f9ff;
	position: relative;
	cursor: pointer;
}
.disabled-checkbox input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.disabled-checkbox input + label {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid #f1f1f1;
}
.disabled-checkbox input:disabled {
	cursor: not-allowed;
	z-index: 3;
}
.disabled-checkbox input:checked + label {
	background: url(../img/elements/disabled-check.png) no-repeat center center/cover;
	border: none;
}
.primary-radio {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background: #f9f9ff;
	position: relative;
	cursor: pointer;
}
.primary-radio input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.primary-radio input + label {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	cursor: pointer;
	border: 1px solid #f1f1f1;
}
.primary-radio input:checked + label {
	background: url(../img/elements/primary-radio.png) no-repeat center center/cover;
	border: none;
}
.confirm-radio {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background: #f9f9ff;
	position: relative;
	cursor: pointer;
}
.confirm-radio input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.confirm-radio input + label {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	cursor: pointer;
	border: 1px solid #f1f1f1;
}
.confirm-radio input:checked + label {
	background: url(../img/elements/success-radio.png) no-repeat center center/cover;
	border: none;
}
.disabled-radio {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background: #f9f9ff;
	position: relative;
	cursor: pointer;
}
.disabled-radio input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.disabled-radio input + label {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	cursor: pointer;
	border: 1px solid #f1f1f1;
}
.disabled-radio input:disabled {
	cursor: not-allowed;
	z-index: 3;
}
.disabled-radio input:checked + label {
	background: url(../img/elements/disabled-radio.png) no-repeat center center/cover;
	border: none;
}
.default-select {
	height: 40px;
}
.default-select .nice-select {
	border: none;
	border-radius: 0px;
	height: 40px;
	background: #f9f9ff;
	padding-left: 20px;
	padding-right: 40px;
}
.default-select .nice-select .list {
	margin-top: 0;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	width: 100%;
	padding: 10px 0 10px 0px;
}
.default-select .nice-select .list .option {
	font-weight: 300;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	line-height: 28px;
	min-height: 28px;
	font-size: 12px;
	padding-left: 20px;
}
.default-select .nice-select .list .option.selected {
	color: #0065e1;
	background: transparent;
}
.default-select .nice-select .list .option:hover {
	color: #0065e1;
	background: transparent;
}
.default-select .current {
	margin-right: 50px;
	font-weight: 300;
}
.default-select .nice-select::after {
	right: 20px;
}
.form-select {
	height: 40px;
	width: 100%;
}
.form-select .nice-select {
	border: none;
	border-radius: 0px;
	height: 40px;
	background: #f9f9ff;
	padding-left: 45px;
	padding-right: 40px;
	width: 100%;
}
.form-select .nice-select .list {
	margin-top: 0;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	width: 100%;
	padding: 10px 0 10px 0px;
}
.form-select .nice-select .list .option {
	font-weight: 300;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	line-height: 28px;
	min-height: 28px;
	font-size: 12px;
	padding-left: 45px;
}
.form-select .nice-select .list .option.selected {
	color: #0065e1;
	background: transparent;
}
.form-select .nice-select .list .option:hover {
	color: #0065e1;
	background: transparent;
}
.form-select .current {
	margin-right: 50px;
	font-weight: 300;
}
.form-select .nice-select::after {
	right: 20px;
}
.mt-10 {
	margin-top: 10px;
}
.section-top-border {
	padding: 50px 0;
	border-top: 1px dotted #eee;
}
.mb-30 {
	margin-bottom: 30px;
}
.mt-30 {
	margin-top: 30px;
}
.switch-wrap {
	margin-bottom: 10px;
}
/*=================== contact banner start ====================*/
.contact-info {
	margin-bottom: 25px;
}
.contact-info__icon {
	margin-right: 20px;
}
.contact-info__icon i, .contact-info__icon span {
	color: #8f9195;
	font-size: 27px;
}
.contact-info .media-body h3 {
	font-size: 16px;
	margin-bottom: 0;
	font-size: 16px;
	color: #2a2a2a;
}
.contact-info .media-body h3 a:hover {
	color: #0065e1;
}
.contact-info .media-body p {
	color: #333333;
}
/*=================== contact banner end ====================*/


.footer-area {
	background-color: #f3f6f7;
}
 @media (max-width: 991px) {
.footer-area .single-footer-widget {
	margin-bottom: 30px;
}
}
.footer-area .single-footer-widget p {
	color: #333333;
}
.footer-area .single-footer-widget h4 {
	color: #242429;
	font-style: inherit;
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 20px;
}
 @media (max-width: 1024px) {
.footer-area .single-footer-widget h4 {
	font-size: 18px;
}
}
 @media (max-width: 991px) {
.footer-area .single-footer-widget h4 {
	margin-bottom: 15px;
}
}
.footer-area .single-footer-widget ul li {
	margin-bottom: 14px;
}
.footer-area .single-footer-widget ul li a {
	color: #7f7f7f;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.footer-area .single-footer-widget ul li a:hover {
	color: #0065e1;
}
.footer-area .single-footer-widget .form-wrap {
	margin-top: 25px;
	position: relative;
}
.footer-area .single-footer-widget input {
	height: 48px;
	border: none;
	width: 100% !important;
	font-weight: 400;
	background: transparent;
	padding-left: 20px;
	border-radius: 0;
	font-size: 14px;
	padding: 10px;
	border: 1px solid #e1e1e1 !important;
	color: #999999;
}
.footer-area .single-footer-widget input:focus {
	outline: none;
	box-shadow: none;
}
.footer-area .single-footer-widget .click-btn {
	background-color: #0065e1;
	color: #fff;
	border-radius: 5px;
	border: 0;
	position: absolute;
	right: 5px;
	width: 40px;
	height: 40px;
	line-height: 30px;
	text-align: center;
	display: inline-block;
}
.footer-area .single-footer-widget .click-btn:focus {
	outline: none;
	box-shadow: none;
}
.footer-area .footer_logo {
	margin-bottom: 30px;
	display: inline-block;
}
.footer-area .social_logo {
	margin-top: 20px;
}
.footer-area .social_logo a {
	color: #b8bcbf;
	margin-right: 10px;
}
.footer-area .social_logo a:hover {
	color: #0065e1;
}
.footer-area .footer-bottom {
	margin-top: 70px;
}
 @media (max-width: 991px) {
.footer-area .footer-bottom {
	margin-top: 20px;
}
}
.footer-area .footer-bottom .footer-social {
	text-align: center;
}
 @media (max-width: 991px) {
.footer-area .footer-bottom .footer-social {
	text-align: left;
	margin-top: 30px;
}
}
.footer-area .footer-bottom .footer-social a {
	background: rgba(255, 255, 255, 0.15);
	margin-left: 3px;
	width: 32px;
	display: inline-grid;
	text-align: center;
	height: 32px;
	align-content: center;
}
.footer-area .footer-bottom .footer-social a i, .footer-area .footer-bottom .footer-social a span {
	font-size: 14px;
}
.footer-area .copyright_part {
	background-color: #0d1820;
	padding: 26px 0px;
}
.footer-area .copyright_part a {
	color: #0065e1;
}
 @media (max-width: 576px) {
.footer-area .copyright_part .footer-social {
	margin-top: 20px;
}
}
.footer-area .copyright_part .footer-social a {
	margin-left: 20px;
	color: #fff;
	text-align: center;
}
.footer-area .copyright_part .footer-social a:hover {
	color: #0065e1;
}
.footer-area .copyright_part .footer-social a i:hover {
	color: #0065e1;
}
.footer-area .copyright_part .footer-social a [class^="ti-"], .footer-area .copyright_part .footer-social a [class*=" ti-"] {
	line-height: 0;
}
 @media (max-width: 991px) {
.footer-area .copyright_part .footer-text {
	text-align: center;
}
}
