---
layout: location
title: Velocity Phoenix
meta:
location_team:
  - name: Charles Steven Plimpton, MD
    role: Principal Investigator
    image:
    bio_html: >-
      <p>Dr. Charles Plimpton completed his undergraduate degree at Arizona
      State before heading to University of Arizona when he completed his
      medical degree in 1988. In 1992, he completed his OBGYN residency in
      Phoenix, where he has run his private practice for over 30 years.</p><p>In
      addition to his private practice, Dr. Plimpton has served as an assistant
      clinical professor at the Creighton University School of Medicine, Phoenix
      since 2015.</p><p>Dr. Plimpton has also conducted clinical trials as a
      principal investigator since 2017 with a focus on women&rsquo;s health and
      pediatric vaccines.</p><p>Dr. Plimpton is a highly respected physician in
      the community having earned <em>Phoenix Magazine&rsquo;s</em> &ldquo;Top
      Docs&rdquo; award four times.</p>
  - name: Carlos Lopez, MD
    role: Sub Investigator
    image: /uploads/phoenix-carloslopez-headshot-edited.jpeg
    bio_html: >-
      <p>Dr. Lopez graduated from medical school in Montemorelos, Mexico in
      August 1992. He has been a pediatrician since 1999 after he graduated from
      Pediatric Training Program at Texas Tech University. Dr. Lopez opened his
      private practice in Phoenix in 2001.</p><p>Dr. Lopez began working in
      research in 2017 with a focus on women&rsquo;s health and pediatric
      vaccine trials.</p><p>His hobbies include reading, outdoor activities, and
      music. He also fluently speaks Spanish and Brazilian Portuguese. He loves
      to spend time with his family and kids.</p>
  - name: Iva Tirres, NP
    role: Sub Investigator
    image:
    bio_html: >-
      <p>Iva has worked in the medical field for 10 years after earning her
      Bachelor of Science in Nursing from Grand Canyon University and later her
      Master of Science in Nursing from Grand Canyon University as
      well.</p><p>Pivoting her focus from wound care and infectious diseases,
      Iva joined the clinical research industry in 2022 as a sub-investigator.
      In her role as a sub-investigator, Iva has been highly involved in all
      aspects of the trials at the Phoenix site.</p>
  - name: Wendy Barrett, MSN, RN
    role: Site Director
    image:
    bio_html: >-
      <p>After many years as a bedside nurse, Wendy Barrett entered the clinical
      research industry in 2014 at St. Joseph&rsquo;s Hospital and Medical
      Center as a research supervisor before moving on to become the research
      program manager. She transitioned to a new role at MedPharmics in 2022, as
      the Director of Clinical Operations, before MedPharmics was acquired by
      Velocity Clinical Research.</p><p>Prior to her interest in research, Wendy
      earned undergraduate nursing degrees from the University of South Dakota
      and Grand Canyon University. Additionally, Wendy earned her Master of
      Science in Nursing Administration from Western Governors University.</p>
_assets:
  - image: /uploads/locations/austin/cdc-UC9_itYaafM-unsplash.jpg
  - image: /uploads/locations/austin/Mask-Group-68.jpg
  - image: /uploads/locations/austin/Mask-Group-65.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-4.jpg
  - image: /uploads/locations/austin/Shot-About.jpg
---
{% include locations/location-logic.html %}
{% include locations/hero-location.html %}
<section>
  <div class="container">
    <div class="row overlap-top">
      <div class="col-lg-8 mx-lg-auto">
        <div class="shadow p-5 bg-white rounded animate fade-up">
          <div class="row align-items-center">
            <div class="col-6 mx-auto col-lg-4">
              <div class="bg-image aspect-1x1 rounded-circle mb-3 mb-lg-0" style="background-image: url({{ location.featured_image }})"></div>
            </div>
            <div class="col-lg-8">
              <h4 class="font-weight-bold mb-0">{{ location.title }}</h4>
              <h4 class="font-weight-bold">{{ location.label }}</h4>
              <p>{{ location.address }}</p>
              <p class="mb-0"><a href="tel:{{ location.phone }}">{{ location.phone }}</a></p>
              <p><a href="mailto:{{ location.email }}">{{ location.email }}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="make-a-difference" class="position-relative pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <div class="text-center">
          <h2 class="mb-0 editable animate fade-up"><strong>Help Make a Difference</strong></h2>
          <div class="editable animate fade-up">
            <h2>By Participating in Clinical Research</h2>
            <p>People who volunteer to participate in clinical trials are key to the advancement of medical research. Our sites are dedicated to conducting clinical trials with an emphasis on patient care. Our physician investigators and other members of our research teams are extensively trained in different medical subspecialties as well as the complex field of clinical research. We strive to provide our study participants and sponsors a high quality, efficient and care-directed clinical trial experience.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/img/dots1.png" class="dots bottom-left overflow-left" alt="Dots image" />
</section>
<section id="member" class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        {% include locations/mosaic-location.html %}
      </div>
      <div class="col-lg-5 ml-lg-auto">
        <h2 class="animate fade-up editable">
          Velocity Clinical Research, Phoenix
        </h2>
        <div class="animate fade-up editable">
          <p>Velocity Clinical Research, Phoenix, formerly MedPharmics - Phoenix,&nbsp; is part of the Velocity Clinical Research Organization, a wholly owned Site Organization, providing excellence in patient care, high quality data and fully integrated research sites.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-primary text-white" style="background-image: url(/img/Carousel-Bar.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto">
        <h2 class="text-center text-white editable animate fade-up">Our Mission</h2>
        <div class="text-center editable animate fade-up">
          <p>Velocity’s mission is to bring innovative medical treatments to patients. We are committed to making clinical trials succeed by generating high quality data from as many patients as possible, as quickly as possible while providing exemplary patient care at every step.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="story">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 animate blur">
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[5].image }}" data-cms-editor-link="cloudcannon:#_assets[5].image" data-cms-editor-link-style="modal">
        </div>
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[6].image }}" data-cms-editor-link="cloudcannon:#_assets[6].image" data-cms-editor-link-style="modal">
        </div>
      </div>
      <div class="col-lg-7 ml-lg-auto">
        <h5 class="animate fade-up editable mb-0 text-secondary">Our Story</h5>
        <h2 class="animate fade-up editable">
          Conducting Clinical Trials Since 2017
        </h2>
        <div class="animate fade-up editable">
          <p>Velocity Clinical Research, Phoenix was founded in 2017 as the third site of MedPharmics Clinical Research. Since its inception, the site has conducted trials in Infectious Diseases and Women&rsquo;s Health including 15+ vaccine trials. They are now conducting Pediatric trials and continuing to expand to new therapeutic areas.</p>
          <p>The site is easily accessible as it located close to I-17 in a medical office building on N 19th Avenue. Velocity Clinical Research, Phoenix is located to serve a diverse group of patients.</p>
          <p>The Phoenix team is committed to being a resource for study volunteers, to providing the highest quality of patient care with compassion and kindness and to advancing medicine though research. By joining Velocity Clinical Research organization in August 2022, they added new efficiencies and integration to their already comprehensive approaches to conducting clinical trials.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="location-team" class="bg-light position-relative">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-10 mx-lg-auto">
        <h2 class="animate fade-up editable text-center">Our Experienced Research Team</h2>
        <div class="text-center animate fade-up editable">
          <p>The Velocity Phoenix team of physician investigators and clinical research professionals are experienced clinical researchers. All physicians are board certified in their specialty area(s) and all research staff is trained in clinical research regulations, including GCP and HIPAA. Training records and certifications are maintained. Our clinical team is dedicated to conducting quality research in a professional and caring environment and strives on collecting quality data.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include locations/team-list.html %}
      </div>
    </div>
  </div>
  <img src="/img/dots2.png" class="dots bottom-left" alt="Dots image" />
</section>