---
layout: location
title: Velocity Gulfport
meta:
location_team:
  - name: Paul Matherne, MD
    role: Principal Investigator
    image: /uploads/gulfport-paulmatherne-headshot.png
    bio_html: >-
      <p>Dr. Paul Matherne earned his undergraduate degree from LSU and his
      medical degree from LSU School of Medicine in Shreveport, LA. He then
      completed his residency as a family practice physician in 1981 when he
      moved to Biloxi, MS.</p><p>In addition to practicing medicine for over 40
      years, Dr. Matherne has worked as a clinical Professor at the University
      of Mississippi Medical School since 1984.</p><p>Dr. Matherne has conducted
      clinical trials as a Principal Investigator since 2016. His primary area
      of focus has been in vaccine trials including COVID-19 vaccine trials for
      children and adults.</p>
  - name: Noel Duplantier, MD
    role: Principal Investigator
    image: /uploads/gulfport-noelduplantier-headshot-cropped.jpeg
    bio_html: >-
      <p>Dr. Duplantier is a Board-Certified OB/GYN physician with extensive
      experience in many aspects of OB/GYN care. As a specialist in
      women&rsquo;s health, she prides herself on being able to provide the best
      possible care to her patients, drawing on her finely tuned medical
      judgment and surgical skills.</p><p>Dr. Duplantier also specializes in
      evaluating and treating hormonal imbalances, including perimenopausal
      issues, using hormone pellet procedures with outstanding results for her
      patients. She graduated from LSU School of Medicine and performed her
      residency at Ochsner Hospital in New Orleans. She&rsquo;s been with
      Hancock Women&rsquo;s Center for 22 years. Dr Duplantier began serving as
      a Principal Investigator and Sub Investigator in 2020 and continues to
      strive for advancements in women&rsquo;s healthcare through clinical
      trials.</p><p>Although she lived most of her life in Chalmette, LA, her
      love affair with the Mississippi Gulf Coast began as a child spending
      summers at her parent&rsquo;s camp in Waveland. Dr. Duplantier&rsquo;s
      goal is to provide comprehensive services in obstetrics and gynecology to
      her patients.</p>
  - name: Jennifer D. Gates, DNP, FNP-C
    role: Sub Investigator
    image: /uploads/jennifer-gates-edited.png
    bio_html: >-
      <p>Jennifer has spent her career in the medical world in the state of
      Mississippi. Jennifer initially received undergraduate nursing degrees
      from Hinds Community College and Mississippi University for Women. She
      later attended Alcorn State University where she earned her Master of
      Science in Nursing, Family Nurse Practitioner, and her Doctoral of Nursing
      Practice.</p><p>Before she entered the clinical trials industry, Jennifer
      worked as a nurse and as a nurse practitioner in primary care and
      gastroenterology.</p><p>Jennifer joined MedPharmics (now Velocity Clinical
      Research) in 2022 as a sub investigator. Research has allowed Jennifer to
      serve the Gulfport community in a new way as she tries to help bring new
      medications and treatments to the world.</p>
  - name: Tasha Parker
    role: Site Director
    image:
    bio_html: >-
      <p>Tasha Parker has held various positions in the medical field on the
      Gulf Coast beginning in 2010. Before her time in research, Tasha spent
      several years as a CCMA in a family medical clinical before transitioning
      to clinical supervisor with an OBGYN group.</p><p>In 2021, Tasha
      transitioned to the clinical research industry when she became a clinical
      research coordinator for Velocity Clinical Research (formerly
      MedPharmics). Not long afterward, Tasha became the Site Director, a huge
      credit to her leadership skills.</p><p>Tasha leads the Gulfport site with
      a calm demeanor and always lends a helping hand. Tasha also supports the
      investigators of Gulfport with her well-suited critical thinking
      abilities.</p>
_assets:
  - image: /uploads/locations/austin/cdc-UC9_itYaafM-unsplash.jpg
  - image: /uploads/locations/austin/Mask-Group-68.jpg
  - image: /uploads/locations/austin/Mask-Group-65.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-4.jpg
  - image: /uploads/locations/austin/Shot-About.jpg
---
{% include locations/location-logic.html %}
{% include locations/hero-location.html %}
<section>
  <div class="container">
    <div class="row overlap-top">
      <div class="col-lg-8 mx-lg-auto">
        <div class="shadow p-5 bg-white rounded animate fade-up">
          <div class="row align-items-center">
            <div class="col-6 mx-auto col-lg-4">
              <div class="bg-image aspect-1x1 rounded-circle mb-3 mb-lg-0" style="background-image: url({{ location.featured_image }})"></div>
            </div>
            <div class="col-lg-8">
              <h4 class="font-weight-bold mb-0">{{ location.title }}</h4>
              <h4 class="font-weight-bold">{{ location.label }}</h4>
              <p>{{ location.address }}</p>
              <p class="mb-0"><a href="tel:{{ location.phone }}">{{ location.phone }}</a></p>
              <p><a href="mailto:{{ location.email }}">{{ location.email }}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="make-a-difference" class="position-relative pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <div class="text-center">
          <h2 class="mb-0 editable animate fade-up"><strong>Help Make a Difference</strong></h2>
          <div class="editable animate fade-up">
            <h2>By Participating in Clinical Research</h2>
            <p>People who volunteer to participate in clinical trials are key to the advancement of medical research. Our sites are dedicated to conducting clinical trials with an emphasis on patient care. Our physician investigators and other members of our research teams are extensively trained in different medical subspecialties as well as the complex field of clinical research. We strive to provide our study participants and sponsors a high quality, efficient and care-directed clinical trial experience.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/img/dots1.png" class="dots bottom-left overflow-left" alt="Dots image" />
</section>
<section id="member" class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        {% include locations/mosaic-location.html %}
      </div>
      <div class="col-lg-5 ml-lg-auto">
        <h2 class="animate fade-up editable">
          Velocity Clinical Research, Gulfport
        </h2>
        <div class="animate fade-up editable">
          <p>Velocity Clinical Research, Gulfport, formerly MedPharmics - Gulfport, is part of the Velocity Clinical Research Organization, a wholly owned Site Organization, providing excellence in patient care, high quality data and fully integrated research sites.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-primary text-white" style="background-image: url(/img/Carousel-Bar.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto">
        <h2 class="text-center text-white editable animate fade-up">Our Mission</h2>
        <div class="text-center editable animate fade-up">
          <p>Velocity’s mission is to bring innovative medical treatments to patients. We are committed to making clinical trials succeed by generating high quality data from as many patients as possible, as quickly as possible while providing exemplary patient care at every step.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="story">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 animate blur">
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[5].image }}" data-cms-editor-link="cloudcannon:#_assets[5].image" data-cms-editor-link-style="modal">
        </div>
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[6].image }}" data-cms-editor-link="cloudcannon:#_assets[6].image" data-cms-editor-link-style="modal">
        </div>
      </div>
      <div class="col-lg-7 ml-lg-auto">
        <h5 class="animate fade-up editable mb-0 text-secondary">Our Story</h5>
        <h2 class="animate fade-up editable">
          Conducting Clinical Trials Since 2016
        </h2>
        <div class="animate fade-up editable">
          <p>Velocity Clinical Research, Gulfport was founded in 2016 as the second site of MedPharmics. Since its inception, the site has conducted trials in Infectious Diseases and Women&rsquo;s Health including 25+ vaccine trials. Velocity Clinical Research, Gulfport played an integral role during the height of the COVID-19 pandemic as they conducted COVID-19 trials for both children and adults.</p>
          <p>The site is easily accessible with abundant parking as it located directly off Highway 49 in an independent medical office building on Dedeaux Road. Additionally, the site is close to the local hospital.</p>
          <p>The Gulfport team is committed to being a resource for study volunteers, to providing the highest quality of patient care with compassion and kindness and to advancing medicine through research. By joining Velocity Clinical Research organization in August 2022, they added new efficiencies and integration to their already comprehensive approaches to conducting clinical trials.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="location-team" class="bg-light position-relative">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-10 mx-lg-auto">
        <h2 class="animate fade-up editable text-center">Our Experienced Research Team</h2>
        <div class="text-center animate fade-up editable">
          <p>The Velocity Gulfport team of physician investigators and clinical research professionals are experienced clinical researchers. All physicians are board certified in their specialty area(s) and all research staff is trained in clinical research regulations, including GCP and HIPAA. Training records and certifications are maintained. Our clinical team is dedicated to conducting quality research in a professional and caring environment and strives on collecting quality data.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include locations/team-list.html %}
      </div>
    </div>
  </div>
  <img src="/img/dots2.png" class="dots bottom-left" alt="Dots image" />
</section>