---
layout: location
title: Velocity Slidell
meta:
location_team:
  - name: Blake Landry, MD
    role: Principal Investigator
    image: /uploads/slidell-blakelandry-headshot.jpg
    bio_html: >-
      <p>A native of New Orleans, Dr Landry has been practicing medicine in
      Slidell since 1999 where he has been an integral part of the women&rsquo;s
      healthcare community.</p><p>&nbsp;Dr Landry received his medical degree
      and trained at LSU Medical Center-Shreveport for his OBGYN residency.
      Since that time, he has maintained his status as board certified through
      ABOG.</p><p>In addition to his private practice, he became a principal
      investigator, working with trials related to women's healthcare and
      babies, conducting clinical trials with Velocity Clinical Research since
      2020. Outside of work, you will find him enjoying time with his family,
      his dogs, exercising, reading, and enjoying his eclectic musical
      tastes.</p>
  - name: Allan Larcena, MD
    role: Principal Investigator
    image: /uploads/slidell-allanlarcena-headshot-skinny-1.png
    bio_html: >-
      <p>Dr. Allan Larcena has happily served the people of Slidell and
      surrounding communities as an Internist/Primary Care Physician since 1995.
      He completed his internship at Seton Hall affiliated hospital in Newark NJ
      and residency in Internal Medicine at Columbia University affiliated
      hospital in in Summit, New Jersey.&nbsp; He is currently Board Certified
      in Internal Medicine as well as Hospice and Palliative Care Medicine.
      Before his time in United States, Dr. Larcena completed his undergraduate
      degree, medical degree and post graduate internship in Cebu City,
      Philippines.</p><p>Dr. Larcena has continued to expand his interests as he
      joined the clinical research world as a Principal Investigator and Sub
      Investigator in 2021. Although new to research, he&rsquo;s looking to
      explore new therapeutic areas to help the people of Slidell and
      beyond.</p>
  - name: Cherie Oertling, MD
    role: Principal Investigator
    image:
    bio_html: >-
      <p>Dr. Cherie Oertling earned her undergraduate degree at Louisiana State
      University before obtaining her medical degree at Louisiana State
      University School of Medicine in New Orleans. Upon graduation she remained
      in New Orleans to complete her residency in pediatrics at Children's
      Hospital and the Medical Center of New Orleans.</p><p>In 1996 Dr. Oertling
      began practicing in Slidell, LA where she has served children and their
      families for over 25 years. Dr. Oertling manages her practice along with
      her husband and fellow pediatrician, Dr. Robert Oertling.</p><p>Dr.
      Oertling entered the clinical trials world in 2022. Her interest in
      clinical trials began with the advent of the COVID pandemic. She hopes her
      participation in trials will bring new medications, vaccinations, and
      treatments to the children in her community and across the world.</p>
  - name: Mary Hess, FNP
    role: Sub Investigator
    image:
    bio_html: >-
      <p>Mary Hess joined the field of clinical research in 2022 as a full-time
      sub investigator for Velocity Clinical Research, Slidell. She initially
      became interested in research in the late 90&rsquo;s while working for an
      endocrinologist from 1999-2007. Aside from research, Mary is no novice to
      the medical field with over 30 years of experience as a nurse.</p><p>Mary
      earned undergraduate nursing degrees from Elizabethtown Community College
      and Bellarmine University. Soon afterward, she received her Master of
      Science in Nursing from Loma Linda University. She then got her Master of
      Family Nurse Practitioner from Emory. Finally, she obtained her Doctor of
      Health Administration from University of Phoenix.</p><p>In the public
      sector, Mary also served in the U.S. Army Reserves for five years, U.S.
      Army Nurse Corps Active Duty for five years, and the U.S. Air Force
      Reserves for three years. In the private sector, Mary has held numerous
      nursing roles across Louisiana, Mississippi, Alabama, Georgia, Virginia,
      and Montana.</p>
  - name: Christal Keller, Pharm.D., RPh
    role: Site Director, Pharmacist
    image: /uploads/slidell-christalkeller-headshot.jpg
    bio_html: >-
      <p>Christal Keller joined Velocity Clinical Research (formerly
      MedPharmics) in 2021 as a multi-state licensed, registered Pharmacist. In
      her role as Site Director, she utilizes her expansive drug knowledge to
      help the site run smoothly.</p><p>&nbsp;</p><p>Before joining the research
      world, Christal worked as a Pharmacist for Walmart &amp; Southeastern
      Grocers.</p><p>&nbsp;</p><p>Christal completed her undergraduate studies
      at the University of New Orleans where she earned her Bachelor of Science
      degree and her Doctorate of Pharmacy degree from Xavier University of
      Louisiana's College of Pharmacy.</p>
_assets:
  - image: /uploads/locations/austin/cdc-UC9_itYaafM-unsplash.jpg
  - image: /uploads/locations/austin/Mask-Group-68.jpg
  - image: /uploads/locations/austin/Mask-Group-65.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-4.jpg
  - image: /uploads/locations/austin/Shot-About.jpg
---
{% include locations/location-logic.html %}
{% include locations/hero-location.html %}
<section>
  <div class="container">
    <div class="row overlap-top">
      <div class="col-lg-8 mx-lg-auto">
        <div class="shadow p-5 bg-white rounded animate fade-up">
          <div class="row align-items-center">
            <div class="col-6 mx-auto col-lg-4">
              <div class="bg-image aspect-1x1 rounded-circle mb-3 mb-lg-0" style="background-image: url({{ location.featured_image }})"></div>
            </div>
            <div class="col-lg-8">
              <h4 class="font-weight-bold mb-0">{{ location.title }}</h4>
              <h4 class="font-weight-bold">{{ location.label }}</h4>
              <p>{{ location.address }}</p>
              <p class="mb-0"><a href="tel:{{ location.phone }}">{{ location.phone }}</a></p>
              <p><a href="mailto:{{ location.email }}">{{ location.email }}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="make-a-difference" class="position-relative pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <div class="text-center">
          <h2 class="mb-0 editable animate fade-up"><strong>Help Make a Difference</strong></h2>
          <div class="editable animate fade-up">
            <h2>By Participating in Clinical Research</h2>
            <p>People who volunteer to participate in clinical trials are key to the advancement of medical research. Our sites are dedicated to conducting clinical trials with an emphasis on patient care. Our physician investigators and other members of our research teams are extensively trained in different medical subspecialties as well as the complex field of clinical research. We strive to provide our study participants and sponsors a high quality, efficient and care-directed clinical trial experience.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/img/dots1.png" class="dots bottom-left overflow-left" alt="Dots image" />
</section>
<section id="member" class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        {% include locations/mosaic-location.html %}
      </div>
      <div class="col-lg-5 ml-lg-auto">
        <h2 class="animate fade-up editable">
          Velocity Clinical Research, Slidell
        </h2>
        <div class="animate fade-up editable">
          <p>Velocity Clinical Research, Slidell,&nbsp; formerly MedPharmics - Slidell, is part of the Velocity Clinical Research Organization, a wholly owned Site Organization, providing excellence in patient care, high quality data and fully integrated research sites.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-primary text-white" style="background-image: url(/img/Carousel-Bar.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto">
        <h2 class="text-center text-white editable animate fade-up">Our Mission</h2>
        <div class="text-center editable animate fade-up">
          <p>Velocity’s mission is to bring innovative medical treatments to patients. We are committed to making clinical trials succeed by generating high quality data from as many patients as possible, as quickly as possible while providing exemplary patient care at every step.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="story">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 animate blur">
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[5].image }}" data-cms-editor-link="cloudcannon:#_assets[5].image" data-cms-editor-link-style="modal">
        </div>
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[6].image }}" data-cms-editor-link="cloudcannon:#_assets[6].image" data-cms-editor-link-style="modal">
        </div>
      </div>
      <div class="col-lg-7 ml-lg-auto">
        <h5 class="animate fade-up editable mb-0 text-secondary">Our Story</h5>
        <h2 class="animate fade-up editable">
          Conducting Clinical Trials Since 2019
        </h2>
        <div class="animate fade-up editable">
          <p>Velocity Clinical Research, Slidell was founded in 2019 as a part of MedPharmics. Since its inception, the site has previously conducted trials in Infectious Diseases and Women&rsquo;s Health. Slidell also now conducts pediatric trials and will continue to expand to new therapeutic areas.</p>
          <p>The site is easily accessible as it near I-12 on Brownswitch Road, right after the roundabout. The stand-alone building is fully equipped to accommodate various types of clinical trials.</p>
          <p>The Slidell team is committed to being a resource for study volunteers, to providing the highest quality of patient care with compassion and kindness and to advancing medicine though research. By joining Velocity Clinical Research organization in August 2022, they added new efficiencies and integration to their already comprehensive approaches to conducting clinical trials.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="location-team" class="bg-light position-relative">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-10 mx-lg-auto">
        <h2 class="animate fade-up editable text-center">Our Experienced Research Team</h2>
        <div class="text-center animate fade-up editable">
          <p>The Velocity Slidell team of physician investigators and clinical research professionals are experienced clinical researchers. All physicians are board certified in their specialty area(s) and all research staff is trained in clinical research regulations, including GCP and HIPAA. Training records and certifications are maintained. Our clinical team is dedicated to conducting quality research in a professional and caring environment and strives on collecting quality data.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include locations/team-list.html %}
      </div>
    </div>
  </div>
  <img src="/img/dots2.png" class="dots bottom-left" alt="Dots image" />
</section>