---
layout: location
title: Spartanburg Home
meta:
location_team:
  - name: Farhan Siddiqui, MD
    role: Principal Investigator
    image: /uploads/siddiqui.png
    bio_html: >-
      <p>Dr. Farhan Siddiqui attended medical school at Baqai Medical University
      and completed his residency in Internal Medicine at University of
      Connecticut Health Center in Farmington, CT. He continued his training in
      Pulmonary, Critical Care and Sleep Medicine at Tufts Medical Center in
      Boston, MA. He is Board Certified in Critical Care Medicine, Pulmonary
      Disease, and Internal Medicine and has Medical License in North Carolina
      and South Carolina.</p><p>His interests include mechanical ventilation and
      critical care, lung cancer and managing patients with chronic respiratory
      illnesses. His specialized skills include endobronchial ultrasound guided
      lung biopsy which he applies to Pulmonary and Internal Medicine studies at
      Velocity. Dr. Siddiqui currently works at Upstate Lung and Critical Care
      Specialists in Spartanburg, Gaffney, Greenville, Union, South Carolina.
      Dr. Siddiqui works out of our&nbsp; Spartanburg research site.</p>
  - name: Stacie Young, MSN, RN, AGACNP-BC
    role: Sub Investigator
    image: /uploads/headshot.jpg
    bio_html: >-
      <p>Stacie received her Master&rsquo;s in Advanced Practice Nursing at the
      University of South Carolina and joined our research team in June 2021.
      Prior to joining Velocity she worked in Pulmonary and Cardiac ICU for 10
      years taking care of patients at the bedside. The medical field is forever
      changing and staying up to date on research was an integral part of
      providing the best care for her patients at the bedside. As a sub
      investigator she gets to participate in conducting clinical research
      firsthand and being a part of a process to create better outcomes and care
      for patients.</p>
  - name: Marsha Gossett, CCRC
    role: Site Manager
    image: /uploads/marsha.jpeg
    bio_html: >-
      <p>Marsha began her career in research in 2008, after 12 years as a
      surgical technologist. Marsha gained great experience as a clinical
      research coordinator, coordinating nearly 100 studies over her career. She
      brings great operational knowledge to her role as Site Manager.</p>
_assets:
  - image: /uploads/locations/austin/cdc-UC9_itYaafM-unsplash.jpg
  - image: /uploads/locations/austin/Mask-Group-68.jpg
  - image: /uploads/locations/austin/Mask-Group-65.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-4.jpg
  - image: /uploads/locations/austin/Shot-About.jpg
---

{% include locations/location-logic.html %}
{% include locations/hero-location.html %}
<section>
  <div class="container">
    <div class="row overlap-top">
      <div class="col-lg-8 mx-lg-auto">
        <div class="shadow p-5 bg-white rounded animate fade-up">
          <div class="row align-items-center">
            <div class="col-6 mx-auto col-lg-4">
              <div class="bg-image aspect-1x1 rounded-circle mb-3 mb-lg-0" style="background-image: url({{ location.featured_image }})"></div>
            </div>
            <div class="col-lg-8">
              <h4 class="font-weight-bold mb-0">{{ location.title }}</h4>
              <h4 class="font-weight-bold">{{ location.label }}</h4>
              <p>{{ location.address }}</p>
              <p class="mb-0"><a href="tel:{{ location.phone }}">{{ location.phone }}</a></p>
              <p><a href="mailto:{{ location.email }}">{{ location.email }}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="make-a-difference" class="position-relative pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <div class="text-center">
          <h2 class="mb-0 editable animate fade-up">
            <strong>Help Make a Difference</strong>
          </h2>
          <div class="editable animate fade-up">
            <h2>By Participating in Clinical Research</h2>
            <p>People who volunteer to participate in clinical trials are key to the advancement of medical research. Our sites are dedicated to conducting clinical trials with an emphasis on patient care. Our physician investigators and other members of our research teams are extensively trained in different medical subspecialties as well as the complex field of clinical research. We strive to provide our study participants and sponsors a high quality, efficient and care-directed clinical trial experience.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/img/dots1.png" class="dots bottom-left overflow-left" alt="Dots image" />
</section>
<section id="member" class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        {% include locations/mosaic-location.html %}
      </div>
      <div class="col-lg-5 ml-lg-auto">
        <h2 class="animate fade-up editable">
          Velocity Clinical Research, Spartanburg
        </h2>
        <div class="animate fade-up editable">
          <p>Velocity Clinical Research, Spartanburg formerly VitaLink Research, is part of the Velocity Clinical Research Organization, a wholly owned Site Organization, providing excellence in patient care, high quality data and fully integrated research sites.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-primary text-white" style="background-image: url(/img/Carousel-Bar.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto">
        <h2 class="text-center text-white editable animate fade-up">
          Our Mission
        </h2>
        <div class="text-center editable animate fade-up">
          <p>Velocity&rsquo;s mission is to bring innovative medical treatments to patients. We are committed to making clinical trials succeed by generating high quality data from as many patients as possible, as quickly as possible while providing exemplary patient care at every step.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="story">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 animate blur">
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[5].image }}" data-cms-editor-link="cloudcannon:#_assets[5].image" data-cms-editor-link-style="modal">
        </div>
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[6].image }}" data-cms-editor-link="cloudcannon:#_assets[6].image" data-cms-editor-link-style="modal">
        </div>
      </div>
      <div class="col-lg-7 ml-lg-auto">
        <h5 class="animate fade-up editable mb-0 text-secondary">
          Our Story
        </h5>
        <h2 class="animate fade-up editable">
          Conducting Clinical Trials Since 2004
        </h2>
        <div class="animate fade-up editable">
          <p>Velocity Clinical Research, Spartanburg was founded in 2004. The Spartanburg location is the original research site of VitaLink Research, a multisite research network with sites across South Carolina. This site&rsquo;s initial focus was on respiratory and women&rsquo;s health trials. Over the years, Spartanburg has gained expertise in vaccine, infectious disease, and NASH trials.</p>
          <p>Located off a major a highway, Spartanburg is next door to the Principal Investigator&rsquo;s pulmonary practice. The site is over 10,000 square feet featuring 10 exam rooms and a 15 bed overnight patient area. Ample parking is available for patients. The local hospital is located 2 miles away.</p>
          <p>The Spartanburg team is committed to being a resource for study volunteers, to providing the highest quality of patient care with compassion and kindness and to advancing medicine though research. By becoming part of the Velocity Clinical Research organization in 2021, they added new efficiencies and integration to their already comprehensive approaches to conducting clinical trials.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="location-team" class="bg-light position-relative">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-10 mx-lg-auto">
        <h2 class="animate fade-up editable text-center">
          Our Experienced Research Team
        </h2>
        <div class="text-center animate fade-up editable">
          <p>The Velocity Spartanburg team of physician investigators and clinical research professionals are experienced clinical researchers. All physicians are board certified in their specialty area(s) and all research staff is trained in clinical research regulations, including GCP and HIPAA. Training records and certifications are maintained. Our clinical team is dedicated to conducting quality research in a professional and caring environment and strives on collecting quality data.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include locations/team-list.html %}
      </div>
    </div>
  </div>
  <img src="/img/dots2.png" class="dots bottom-left" alt="Dots image" />
</section>
