---
layout: default
title: Careers
meta:
hero:
  - image: /uploads/photo-header-doctor.jpg
    title:
    subtitle:
    color_overlay: false
benefits:
  - title: Health & Wellness Benefits
    icon_image: /uploads/icon-health-wellness.svg
    list_item:
      - title: Medical, Dental, Vision, HSA and FSA plans
      - title: >-
          Employer contributions are between 55 - 80% based on the coverage
          level and plan you choose
      - title: Company contributions to Health Savings Account
  - title: 401k Eligibility & Company Match
    icon_image: /uploads/icon-401k.svg
    list_item:
      - title: >-
          Velocity Clinical Research matches 100% of the first 3% you contribute
          and 50% on the next 2% you contribute
      - title: Immediate eligibility and automatic enrollment at 5% contribution
      - title: One finance structure for all invoicing and payment activities
  - title: Paid Time Off & Company Holidays
    icon_image: /uploads/icon-time-off.svg
    list_item:
      - title: >-
          Paid-Time-Off starting at 3 weeks per year and growing with company
          tenure
      - title: 10 Company Paid Holidays each calendar year
  - title: Life Insurance & EAP
    icon_image: /uploads/icon-life-insurance.svg
    list_item:
      - title: >-
          100% Company paid Life Insurance policy of two-times your annual
          salary
      - title: 100% Company paid Short-Term and Long-Term Disability benefit
      - title: Optional Insurance coverage for yourself and any dependents
      - title: Complimentary Emergency Assistance Plan (EAP)
  - title: Site Incentive Bonus Plan
    icon_image: /uploads/icon-incentives.svg
    list_item:
      - title: Paid twice annually
      - title: Based on company and site performance
list_section:
  - title:
    list_item:
      - title: Allergy /Immunology
      - title: Cardiology
      - title: Dermatology
      - title: Endocrinology / Metabolism
      - title: Gastroenterology
      - title: Infectious Disease
      - title: Medical Devices
      - title: Men’s Health
      - title: Nephrology
      - title: Neurology
      - title: Psychiatry
      - title: Pain
      - title: Respiratory
      - title: Rheumatology / Musculoskeletal
      - title: Sleep Medicine
      - title: Urology
      - title: Vaccine
      - title: Women’s Health
_assets:
  - image: /uploads/photo-square-data.jpg
  - image: /uploads/photo-square-doctor.jpg
---

{% include cta-career-bar.html %}
{% include hero.html %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="subtitle editable animate fade-up">
          Careers
        </h3>
        <div class="editable animate fade-up">
          <h2>Committed to Improving and Advancing the Human Condition.</h2>
          <p>At Velocity, we align our values and behaviors to give our associates the best chance of delivering on our brand promise: to bring innovative medical treatments to patients. We are committed to making clinical trials succeed by generating high quality data from as many patients as possible, as quickly as possible while providing exemplary patient care at every step.</p>
          <p>As an employee of Velocity, you are the most integral part of our mission. For talented candidates who perform at a high level, Velocity will invest to support career advancement and reward performance.</p>
          <p>Whether you are new to clinical research or are an industry veteran, we invite you to apply to Velocity.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mosaic-images-stack right-to-left">
          <div class="image-wrapper">
            <div class="bg-image aspect-5x4 rounded rellax fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[0].image }}" data-cms-editor-link="cloudcannon:#_assets[0].image" data-cms-editor-link-style="modal" data-rellax-speed="0.5"></div>
          </div>
          <div class="image-wrapper rounded">
            <div class="bg-image aspect-5x4 rounded rellax fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[1].image }}" data-cms-editor-link="cloudcannon:#_assets[1].image" data-cms-editor-link-style="modal" data-rellax-speed="-0.5"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="capabilities" class="bg-light position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center editable animate fade-up">
          Full-Time Employee Benefits
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="animate blur">
          {% include components/benefits-carousel.html %}
        </div>
      </div>
    </div>
  </div>
  <img src="/img/dots3.png" class="dots bottom-left overlap-bottom" alt="Dot image" />
</section>
<section class="pb-0 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <div class="text-center">
          <h2 class="text-secondary editable animate fade-up">
            Why Work at Velocity
          </h2>
          <div class="editable animate fade-up">
            <p>Clinical research can be very challenging, yet it can be incredibly rewarding. The work we do improves the health and wellbeing of millions. No matter your role with Velocity, you are an integral part in achieving our mission.</p>
            <p>Velocity offers competitive pay and benefits, and rewards high performance with career development opportunities. For talented candidates who perform at a high level, Velocity will invest to support career advancement and reward performance.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <div class="text-center editable">
          <h2 class="font-weight-bold animate fade-up">Our Open Positions</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <p><img class="img-fluid my-5" alt="Dots image" src="/img/capabilities/dots.png" /></p>
        </div> 
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="responsive-card-deck cards-lg-3">
          {% for job in site.data.jobs %}
          <a href="{{ job.link }}" class="card bg-primary bg-image aspect-auto text-white mb-4 animate fade-up">
            <div class="card-body p-4">
              <h5 class="text-white font-weight-bolder mb-0 mt-3 mb-2">{{ job.title }}</h5>
              <p class="text-white d-flex align-items-center">{{ job.freeform_location_description }}</p>
              <p class="text-white d-flex align-items-center">Learn more <i class="ri-arrow-right-s-line"></i></p>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <div class="text-center">
          <h2 class="text-secondary editable animate fade-up">
            Join our Talent Community
          </h2>
          <div class="editable animate fade-up">
            <p>Didn’t find what you are looking for? Join our talent community by visiting our <a href="https://workforcenow.adp.com/mascsr/default/mdf/recruitment/recruitment.html?cid=c3050172-4e08-4e37-bbda-693bb61d7bb8&ccId=19000101_000001&lang=en_US">Career Center</a> and by clicking on the upper right-hand corner, “Join our Talent Community”, and create your candidate profile to receive updates</p>
            <p><a class="btn btn-secondary" href="https://workforcenow.adp.com/mascsr/default/mdf/recruitment/recruitment.html?cid=c3050172-4e08-4e37-bbda-693bb61d7bb8&ccId=19000101_000001&lang=en_US">Career Center</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
