---
layout: default
title: Technology
meta:
hero:
  title_html:
  logo_image: /uploads/velocity-clinical-research-clr-wht.png
  image: /uploads/dark-blue-background.jpg
_assets:
  - image: /img/technology/nurse-tablet.png
  - image: /img/home/Mask-Group-68.jpg
  - image: /img/home/Mask-Group-65.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /img/technology/phone-medical.jpg
  - image: /uploads/durham-baseball-2.jpg
  - image: /uploads/workshopmedia-vcr-20200817-0517-final2x.jpg
  - image: /uploads/computer-screens.jpg
  - image: /img/home/Mask-Group-11.jpg
  - image: /img/home/Mask-Group-13@2x.jpg
text_slide:
  - title: Velocity establishes technology hub in Hyderabad, India
    subtitle: Velocity acquires Trier Health
    link: https://www.trierhealth.com/
    link_label: Learn More
therapeutic_experience:
  - Allergy and immunology
  - Alzheimer's
  - Biologic therapies
  - Cardiovascular
  - Dermatology
  - Endocrinology / Metabolism
  - Gerontology
  - Infectious disease
  - Musculoskeletal disorders
  - Neurology
  - Neurodegenerative disorders
  - Pain management
  - Parkinson's
  - Psychiatry
  - Respiratory
  - Rheumatology
  - Sleep disorders
  - Vaccine
hero:
  - image: /img/tech-hero.jpg
    title: Velocity Clinical Research acquires TrierHeatlh establishing technology hub in Hyderabad, India.
    color_overlay: false
    button: Learn More
    button_url: #
---

{% include locations/cta-bar.html %}
{% include hero.html %}
<section>
  <div class="container position-relative">
    <div class="row text-center justify-content-md-center">
      <div class="col-12 col-md-6">
        <h2 class="editable font-weight-bold animate fade-up">
          Technology
        </h2>
        <div class="editable animate fade-up">
          <p>Our “DeepCentric” platform is a smart, trusted and secure platform enabling Digital Clinical Trials execution with
          patient at its center. Hybrid or 100% Decentralized Trials, DeepCentric enriches the Patient-Clinician collaboration,
          improves the Patient engagement through analytics and instantly digitizes the clinical data by applying deep AI
          algorithms.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-light">
  <div class="container position-relative">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-lg-5">
          <h2 class="editable font-weight-bold animate fade-up">
            About Us
          </h2>
          <div class="editable animate fade-up">
            <p>Velocity is committed to improving the clinical research industry in order to bring innovative medical treatments
              to
              patients quicker then ever before. Our technology platform is at the core of our ability to advance site-level
              productivity and radically improve the patient experience.</p>
            <p>Velocity’s technology hub in Hyderabad will continue to
              develop cutting-edge patient facing applications to ease the patient burden when participating in decentralized
              clinical
              trials while also increasing the accuracy in which these trials are conducted. Velocity strives to deliver superior
              accelerated enrollment and consistent reliable results. Our technology platform allows us to continue to do so even
              as
              the clinical site landscape changes.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="animate blur">
          {% include technology/mosaic-tech-top.html %}
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container position-relative">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h3 class="subtitle animate fade-up editable">
            Our Product
          </h3>
          <h2 class="animate fade-up editable">
            DeepCentric - AI Driven Clinical Trial Platform
          </h2>
          <img src="/img/3-up-devices.png" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 mb-5">
        <h2>Digitize the Sites for Decentralization</h2>
        <p>Enable sites to perform remote, at home and at site visits through easily portable solution. Using our platform, sites
        will continue to deliver their critical value by extending their reach.</p>
      </div>
      <div class="col-12 col-md-4 mb-5">
        <h2>Patient Engagement through Mobile Analytics</h2>
        <p>Guide the patient through their daily trial routine to increase their trial adherence. Our deep analytical engine
        generates actionable insights that are early enough for the sites and Pharma to intervene and engage the patients.</p>
      </div>
      <div class="col-12 col-md-4 mb-5">
        <h2>Data Security through Biometrics</h2>
        <p>Biometric authentication, data encryption and secured conferences to ensure highest level of data security. Our
        multi-layered security design leaves zero vulnerability to compromise the data security levels.</p>
      </div>
      <div class="col-12 col-md-4 mb-5">
        <h2>Flexible clinical work-flows</h2>
        <p>Work-flows are tailored to the personas. Clinician work-flow was designed with clinician expertise</p>
      </div>
      <div class="col-12 col-md-4 mb-5">
        <h2>EDC, CTMS and IVRS Integration</h2>
        <p>Co-exist with the existing clinical technologies to be instantly inter-operable with our ODM and CDISC compatible
        solutions
        </p>
      </div>
      <div class="col-12 col-md-4 mb-5">
        <h2>Prioritized Patient Convenience</h2>
        <p>Every user interaction is designed with patient convenience at its core theme.</p>
      </div>
      <div class="col-12 col-md-6 mb-5">
        <h2>Secure Blockchain Platform</h2>
        <p>All of our clinical data is on a Blockchain platform that delivers data immutability and controlled access. All the
        integrations are done through Blockchain to ascertain how serious we take trust and auditability
        </p>
      </div>
      <div class="col-12 col-md-6 mb-5">
        <h2>Automation through Edge Technologies</h2>
        <p>Our custom AI capabilities of Voice, Image, Computer Vision and OCR capabilities offer capabilities that improve the
        quality and efficiencies of visit conduct and patient-clinician collaborations</p>
      </div>
    </div>
    <img src="/img/dots3.png" class="dots bottom-right overlap-bottom" alt="Dots image" />
  </div>
</section>
<section class="bg-light ">
  <div class="container">
    <div class="row position-relative">
      <div class="col-lg-6">
        <h3 class="subtitle editable animate fade-up">
          Careers
        </h3>
        <div class="editable animate fade-up">
          <h3>Work with us!</h3>
          <p>We are always looking for highly talented AI and Full stack developers. If you are looking for never before innovation
          in technologies and you like to be challenged with problems that were never solved before, please email your resume to
          <a href="mailto:techcareers@velocityclinical.com">techcareers@velocityclinical.com</a></p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="animate blur">
          {% include technology/mosaic-tech-bottom.html %}
        </div>
      </div>
      <img src="/img/dots2.png" class="dots top-right" alt="Dots image" />
    </div>
  </div>

</section>
