---
layout: default
title: Velocity Booster Trials
meta:
hero:
  - image: /img/locations/LocationsBanner@2x.jpg
    title: Strategically located research sites ensure geographical distribution
    subtitle: Multi-specialty Research Institutions
    color_overlay: false
  - image:
    title: neato
    subtitle: cool
    color_overlay: false
---
{% include locations/hero-corporate-locations.html %}
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
       
      </div>
    </div>
  </div>
</section>


<section id="location-contact" class="bg-light position-relative pt-0">
  <div class="container position-relative">
    <img src="/img/dots2.png" class="dots top-right" alt="Dots image" />
    <div class="row">
      <div class="col-lg-4">
        <h5 class="text-green font-weight-bold editable">Interested in Participating in a Clinical Trial?</h5>
        <div class="editable">
          <p>Thank you for your interest in clinical research and in finding out more about participating in a COVID-19 Booster study with Velocity. Please fill out the information below and a member of our team will contact you.</p>
          <p>All of our studies provide compensation for the time you contribute and any related travel. All treatment and care is provided at no cost, no insurance required. We are always happy to answer any questions you have.</p>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="bg-white contact-form shadow p-3 p-lg-5">
            
            
    <!--This is the spot to put the form script from the form provider. usually found on the published section of the build-->
         
<div class="cognito">
<script src="https://www.cognitoforms.com/s/B04jtT4dY0C6ZJWIm8hgcQ"></script>
<script>Cognito.load("forms", { id: "15" });</script>
</div>
  <!--This is the spot to put the form script from the form provider. usually found on the published section of the build-->


          </div>
        </div>
      </div>
    </div>
 
  <img src="/uploads/locations/austin/Mask-Group-43.jpg" class="overlap-image" alt="" />
  <img src="/img/dots1.png" class="dots" alt="" />
</section>



<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-lg-auto">
        <div class="text-center editable animate fade-up">
          <p>Velocity&rsquo;s commitment to provide enhanced efficiencies, scalability and productivity while ensuring quality data begins with our carefully vetted research sites. We continually seek dedicated research clinics with highly experienced physician investigators supported by well-trained research staff. Geographical dispersion across the United States ensures patient diversity and access to critical subpopulations.</p>
          <p>Our sites have been successfully conducting clinical trials for over 35 years with over 250 years of collective clinical research site operations. All Investigators and site personnel are fully trained and certified in GCP, HIPAA, uniform SOPs and other relevant topics.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="subtitle animate fade-up">Our Locations</h3>
        <h2 class="animate fade-up editable">
          Research Sites Spanning from Coast to Coast
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include locations/locations-grid.html %}
      </div>
    </div>
  </div>
</section>
