---
layout: location
title: Velocity Leipzig
meta:
location_team:
  - name: Dr. Sandra Stark
    role: >-
      Vice President, Operations - Europe ; Managing Director - Velocity
      Clinical Research, Leipzig GmbH
    image: /uploads/sandra-stark-headshot.jpg
    bio_html: >-
      <p>Dr. Sandra Stark joined Velocity Clinical Research after 18 years at
      Parexel where she held various positions in Project Management, Business
      Development and Portfolio Management. After leading the Therapeutic Area
      of Immunology/rare Diseases in Early Phase for 7 years she took on the
      role of Unit Head of Parexel&rsquo;s Phase 1 unit in Berlin, Germany, a
      120 bed Clinical Pharmacology clinic. Moving from sponsor/CRO to Velocity
      Clinical Research not only closes the loop full circle; it expands her
      experience into late-stage development.</p><p>Dr. Stark brings 20+ years
      in both in CRO and biopharmaceutical industry with a broad experience in
      Early Drug Development, Translational Medicine, Pre-clinical, and thorough
      strategic development focus on fast and efficient POC to support go/no-go
      decisions for late-stage development.</p><p>Dr. Stark holds a Diploma in
      Biology from Kassel University and a PhD in Immunology/Immunogenetics from
      University of G&ouml;ttingen.</p>
  - name: Dr. Maria Lehretz
    role: Medical Director, Principal Investigator
    image: /uploads/maria-lehretz-2.jpeg
    bio_html: >-
      <p>Dr. Lehretz currently serves as the Medical Director of Velocity
      Clinical Research Leipzig, where she manages site principal investigators
      and sub-investigators, and is responsible for principal investigator
      responsibilities. In this role, she also plays an active role in
      commercial development for the site and collaborates with Business
      Development and Business Operations teams. She also serves as a liaison
      between pharmaceutical and CRO medical directors, providing clinical
      content and consulting expertise on protocol study design to sponsors and
      CROs.</p><p>Prior to this, Dr. Lehretz held the position of Head of
      Clinical Research at eCovery GmbH, where she was responsible for designing
      and executing clinical studies, managing regulatory processes and project
      management, and overseeing Clinical Trial Managers.</p><p>She has also
      served as a Senior Clinical Research Physician at Parexel International
      and as a Clinical Research Physician at SIBAmed GmbH und Co. KG, where she
      was involved in clinical trials phase 2-3, MPG and register studies,
      managing site principal investigators and sub-investigators, and working
      with pharmaceutical and CRO companies. Dr. Lehretz received her medical
      degree from Martin-Luther-University Halle.</p>
  - name: Kai Mehltretter
    role: Principal Investigator
    image:
    bio_html: >-
      <p>Kai Mehltretter is a highly experienced and qualified investigator with
      over 20 years of experience in the field of clinical research. He
      currently works as a freelance Clinical Investigator at Velocity Clinical
      Research Leipzig GmbH, and as a freelance Pharmacovigilance Consultant.
      Before joining the SIBAmed/Velocity team, he was a consulting physician
      for major pharmaceutical companies and Head of a CROs Pharmacovigilance
      Department at IST GmbH Mannheim.&nbsp;</p><p>Kai Mehltretter has also held
      roles in various organizations, including Team-Lead Investigator for Phase
      I-II Clinical Studies at IKP GmbH Grünstadt and CRS Clinical Research
      Services Mannheim GmbH, as Freelance Clinical Investigator and Consultant
      at Abbott GmbH &amp; Co KG Ludwigshafen, and as Assistant Physician at the
      Ophthalmic Clinic, Ruprecht-Karls-University Heidelberg.&nbsp;</p><p>Kai
      Mehltretter is highly educated and holds medical registration from
      Ruprecht-Karls-University Heidelberg. He has made publications in the
      fields of Ophthalmology and Pharmacokinetics/Pharmacodynamics.</p>
  - name: Dr. Thomas Müller
    role: Principal Investigator
    image:
    bio_html: >-
      <p>Dr. Thomas M&uuml;ller is a specialist in pediatrics working as a
      Principal Investigator and Specialist at Velocity Clinical Research
      Leipzig GmbH and previously at SIBAmed Study Center in Leipzig, Germany.
      In parallel, he works as a pediatrician in the Leipzig family medicine
      practice FMZ Radowsky.</p><p>He has also worked as a Medical Specialist
      for pediatrics with psychiatric/neurological disorders at the Helios
      Clinic, Social pediatrics center in Leipzig. They have over a decade of
      experience in the field, having served as a Resident in pediatric medicine
      at Helios Clinic and as a Resident in internal and general medicine at
      DIAKOMED - Diakonie Hospital.</p>
  - name: Miriam Noel
    role: Center Manager
    image:
    bio_html: >-
      <p>Miriam Noel is a highly experienced and skilled healthcare professional
      with a diverse background in nutrition, dietetics, and clinical research.
      She currently serves as the Center Manager and Study Coordinator at
      Velocity Clinical Research Leipzig GmbH, a position she has held since
      2016. Prior to that, she worked as a Study Coordinator at Study Center
      Medica Clinic in Leipzig, Germany, and at the Dept. Of Nephrology at the
      University Clinic in Essen, Germany. Throughout her career, Miriam has
      also been involved in a variety of research studies and clinical trials,
      including those related to kidney transplantation, lupus nephritis, and
      pharmacokinetics.</p><p>Miriam began her career as a Community Dietitian
      at Guys and St. Thomas Hospital Trust in London, and later worked as a
      Locum In and Out-Patient Dietitian at Newham University Hospital and North
      Middlesex Hospital. She also held a position as an Administrative
      Assistant at the Islington Community Rehabilitation Team in
      London.</p><p>In addition to her professional experience, Miriam has a
      strong educational background in nutrition and dietetics. She completed an
      internship as a Dietetic at the University Health Network of Toronto,
      Canada, and earned a Bachelor of Science with honors in Nutrition at
      Acadia University in Wolfville, Canada. She also received training in
      advanced life support, injection technique training, and various study
      specific trainings for electronic data entry.</p>
_assets:
  - image: /uploads/locations/austin/cdc-UC9_itYaafM-unsplash.jpg
  - image: /uploads/locations/austin/Mask-Group-68.jpg
  - image: /uploads/locations/austin/Mask-Group-65.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-4.jpg
  - image: /uploads/locations/austin/Shot-About.jpg
---
{% include locations/location-logic.html %}
{% include locations/hero-location.html %}
<section>
  <div class="container">
    <div class="row overlap-top">
      <div class="col-lg-8 mx-lg-auto">
        <div class="shadow p-5 bg-white rounded animate fade-up">
          <div class="row align-items-center">
            <div class="col-6 mx-auto col-lg-4">
              <div class="bg-image aspect-1x1 rounded-circle mb-3 mb-lg-0" style="background-image: url({{ location.featured_image }})"></div>
            </div>
            <div class="col-lg-8">
              <h4 class="font-weight-bold mb-0">{{ location.title }}</h4>
              <h4 class="font-weight-bold">{{ location.label }}</h4>
              <p>{{ location.address }}</p>
              <p class="mb-0"><a href="tel:{{ location.phone }}">{{ location.phone }}</a></p>
              <p><a href="mailto:{{ location.email }}">{{ location.email }}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="make-a-difference" class="position-relative pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <div class="text-center">
          <h2 class="mb-0 editable animate fade-up"><strong>Help Make a Difference</strong></h2>
          <div class="editable animate fade-up">
            <h2>By Participating in Clinical Research</h2>
            <p>People who volunteer to participate in clinical trials are key to the advancement of medical research. Our sites are dedicated to conducting clinical trials with an emphasis on patient care. Our physician investigators and other members of our research teams are extensively trained in different medical subspecialties as well as the complex field of clinical research. We strive to provide our study participants and sponsors a high quality, efficient and care-directed clinical trial experience.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/img/dots1.png" class="dots bottom-left overflow-left" alt="Dots image" />
</section>
<section id="member" class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        {% include locations/mosaic-location.html %}
      </div>
      <div class="col-lg-5 ml-lg-auto">
        <h2 class="animate fade-up editable">
          Velocity Clinical Research, Leipzig
        </h2>
        <div class="animate fade-up editable">
          <p>Velocity Clinical Research Leipzig, formerly eCovery GmbH, is part of the Velocity Clinical Research Organization, a wholly owned Site Organization, providing excellence in patient care, high quality data and fully integrated research sites.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-primary text-white" style="background-image: url(/img/Carousel-Bar.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto">
        <h2 class="text-center text-white editable animate fade-up">Our Mission</h2>
        <div class="text-center editable animate fade-up">
          <p>Velocity’s mission is to bring innovative medical treatments to patients. We are committed to making clinical trials succeed by generating high quality data from as many patients as possible, as quickly as possible while providing exemplary patient care at every step.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="story">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 animate blur">
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[5].image }}" data-cms-editor-link="cloudcannon:#_assets[5].image" data-cms-editor-link-style="modal">
        </div>
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[6].image }}" data-cms-editor-link="cloudcannon:#_assets[6].image" data-cms-editor-link-style="modal">
        </div>
      </div>
      <div class="col-lg-7 ml-lg-auto">
        <h5 class="animate fade-up editable mb-0 text-secondary">Our Story</h5>
        <h2 class="animate fade-up editable">
          Conducting Clinical Trials Since 2016
        </h2>
        <div class="animate fade-up editable">
          <p>Founded in 2016 as &ldquo;Sibamed Studienzentrum GmbH &amp; Co. KG&rdquo;, the Velocity Leipzig team conducts clinical trials in a broad variety of phases and indications, cooperating with specialists in gastroenterology, orthopedics, internal medicine, and pediatrics.</p>
          <p>The team focuses on clinical studies without having to look after a turbulent and strenuous conventional practice. Patients appreciate the time the team has for their needs and questions. Even technically challenging hurdles like ePROs, electronic site files, ethic submission or special examinations can be easily managed by the experienced team.</p>
          <p>As a reliable partner, Velocity Leipzig is trusted by patients by patients for the care and sponsors for the data, alike. They accept this challenge every day and try to perform it to perfection. The focus is to harmonize the sponsor&acute;s needs with patient&acute;s expectations by always having an open ear to all.</p>
          <p>The Velocity Clinical Research, Leipzig team is committed to being a resource for study volunteers, to providing the highest quality of patient care with compassion and kindness and to advancing medicine through research. By becoming part of the Velocity Clinical Research organization in 2022, they added new efficiencies and integration to their already comprehensive approaches to conducting clinical trials.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="location-team" class="bg-light position-relative">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-10 mx-lg-auto">
        <h2 class="animate fade-up editable text-center">Our Experienced Research Team</h2>
        <div class="text-center animate fade-up editable">
          <p>The Velocity Leipzig team of physician investigators and clinical research professionals are experienced clinical researchers. All physicians are board certified in their specialty area(s) and all research staff is trained in clinical research regulations, including GCP and HIPAA. Training records and certifications are maintained. Our clinical team is dedicated to conducting quality research in a professional and caring environment and strives on collecting quality data.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include locations/team-list.html %}
      </div>
    </div>
  </div>
  <img src="/img/dots2.png" class="dots bottom-left" alt="Dots image" />
</section>